/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration: none;
	color: #4dd0e1;
}
a.under-line:hover {
	text-decoration: underline;
}
button {
	border: none;
	background-color: transparent;
	outline: none;
}
body {
	background-color: #0c0c0c;
	overflow: auto;
	position: relative;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Heiti TC","Microsoft JhengHei", "微軟正黑", "Arial", sans-serif;
	color: #579AAD;
}

html { 
	font-size: 16px;
	line-height: 24px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus {
	outline: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-light-blue {
	color: #579AAD;
}
.marT20 {
	margin-top: 20px;
}
.marT25 {
	margin-top: 25px;
}
.marL24 {
	margin-left: 24px;
}
.marL-3 {
	margin-left: -3px;
}
.padL10 {
	padding-left: 10px;
}
.padR5 {
	padding-right: 5px;
}
.group-wrap:after {
	content: "";
	display: table;
	clear: both;
}

.verify_bg {
	background: #34555E;
	background: -webkit-linear-gradient(rgba(22,39,44,1), rgba(80,123,135,1));
	background: -o-linear-gradient(rgba(22,39,44,1), rgba(80,123,135,1)); 
	background: -moz-linear-gradient(rgba(22,39,44,1), rgba(80,123,135,1)); 
	background: linear-gradient(rgba(22,39,44,1), rgba(80,123,135,1)); 
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-top: 3px solid #426A75;
	padding: 2.2em 2.4em;
	width: 31em;
	height: 25em;
}

.verify-title {
	margin-bottom: 1.1em;
    font-size: 1.25em;
    position: relative;
}
.verify-title:after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: rgba(238,238,238,0.3);
}
.verify-title span {
	cursor: default;
}

.verify-instruction {
	color: #eee;
	font-weight: 200;
	cursor: default;
}

button.btnClose {
	font-size: 26px;
	position: absolute;
	top: 3%;
	right: 3%;
	text-shadow: none;
	color: rgba(204,204,204,0.7);
	transition: 0.3s;
	cursor: pointer;
}

button.btnClose:hover {
	color: #eeeeee;
}

.verify-content {
	width: 100%;
    transition: all 1s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-top: 1.2em;
}

.verify-input {
	color: #4dd0e1;
	position: relative;
	box-sizing: border-box;
	background-color: rgba(0,2,2,.2);
}

.verify-input > input {
	background: none !important;
	border: none !important;
	color: #4dd0e1;
	height: 45px;
	width: 54%;
	margin-left: 20px;
}
.verify-input .background-block {
	display: block;
	width: 50px;
	height: 45px;
	background-color: rgba(0,0,0,.3);
	text-align: center;
	line-height: 45px;
}
.verify-input .background-block i {
	font-size: 1.2em;
}

.verify-input.field-validation-error {
	color: #D87C7C;
}
.verify-input.field-validation-error > input{
	color: #D87C7C;
}

.area-code {
	line-height: 45px;
	font-weight: 200;
	font-size: 0.9em;
	padding-left: 18px;
	color: #eeeeee;
	position: relative;
	cursor: pointer;
	letter-spacing: 1px;
	width: 25%;
}

.area-code i {
	font-size: 1.2em;
	line-height: 45px;
}

.area-code-dropdown {
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	background-color: rgba(63, 89, 99, 0.85);
	border-left: 3px solid #628E9A;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 0;
	z-index: 5;
	display: none;
	animation: fadeOut 0.5s ease;
}

.area-code:hover .area-code-dropdown {
	animation: fadeIn 0.5s ease;
	display: block;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.area-code-dropdown li {
	line-height: 35px;
	transition: 0.3s;
	font-weight: 200;
	cursor: pointer;
}

.area-code-dropdown li:hover, .area-code-dropdown li.active {
	color: #71CFEE;
	font-size: 16px;
}

.verification-code {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}
.verification-code > input {
	width: 71%;
}

/* buttons settings */
.btn {
	border-radius: 2px;
	color: #eee;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.code-btn {
	background-color: #4F6C76;
	width: 33%;
	font-size: 0.9em;
	padding: 12px 0;
	height: 45px;
	display: inline-block;
	vertical-align: top;
}
.code-btn:hover {
	background-color: #628E9A;
}

.verify-btn {
	background-color: #1A2F35;
	width: 100%;
	font-size: 1.12em;
	padding: 15px 0;
	height: 55px;
}
.verify-btn:hover {
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	background-color: #101F23;
}

.btnDisable, .btnDisable:hover {
	background-color: rgba(80,108,118,0.3);
	font-size: 1em;
	padding: 11px 0;
	color: #D87C7C;
	cursor: default;
}


/* placeholder settings */
.verify-input input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(87,154,173,0.6);
}
.verify-input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(87,154,173);
   opacity: 0.6;
}
.verify-input input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(87,154,173);
   opacity: 0.6;
}
.verify-input input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(87,154,173,0.6);
}


/* .login-input [class="wrong-sign"] {
	display: none;
} */
.verify-input+.wrong-message {
	display: none;
}


.verify-input.field-validation-error input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(216,124,124,0.6);
}
.verify-input.field-validation-error input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(216,124,124);
   opacity: 0.6;
}
.verify-input.field-validation-error input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(216,124,124);
   opacity:  0.6;
}
.verify-input.field-validation-error input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(216,124,124,0.6);
}

/* .login-input.field-validation-error [for="password"] {
	display: inline-block;
} */

.verify-input.field-validation-error + .wrong-message {
	display: block;
}

.wrong-message {
	color: #D87C7C;
	font-size: 0.9em;
	text-align: right;
	margin-top: 5px;
}



