
.listsPages.bkgd-img img {
    height: 105vh;
    width: auto; 
    position: relative;
	top: 0;
	left: 0;
    -moz-transform: scaleX(-1); /* flip left-right */
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* -------------- TAB-CONTENT CSS --------------- */
.tab-content {
    position: relative;
    display: none;
}
.tab-content.active {
    display: block;
}


/* ----------------mypoints_icon---------------- */
.points > p {
    display: inline-block;
    vertical-align: middle;
}

.points-icon {
    border-radius: 50%;
    background-color: #579AAD;
    text-align: center;
    height: 25px;
    width: 25px;
    line-height: 20px;
    color: #ffffff;
}


/* -------------- PRODUCT-LIST CSS --------------- */
.product-list {
	width: 100%;
	position: relative;
}
.product-list .product-item {
	width: 100%;
	position: relative;
	background-color: rgba(12,12,12,.5);
	box-sizing: border-box;
	padding: 5% 4.5% 2.5% 4.5%;
	border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #71cfee;
    margin-top: 20px;
}
.product-list .product-item:first-child {
    margin-top: 0;
}

.product-img {
    width: 40%;
}
.product-img .img-wrapper {
    width: 75%;
    margin: auto;
}
.product-img .img-wrapper img {
    width: 100%;
}
.product-description {
    width: 55%;
}

.points-amt > p  {
    display: inline-block;
    vertical-align: top;
}
.points-amt {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

/* -------------- PRODUCT-LIST CSS --------------- */
.points-alert {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(12,12,12,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
}
.points-alert.showAlert {
    display: block;
}

.alert-content {
    position: absolute;
    top: -10vh;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 70vw;
    height: 160px;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgba(53,53,53,.9);
    border-top: 2px solid #71cfee;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 7px 0 rgba(12,12,12,.4);
}
.alert-content p {
    text-align: center;
    padding: 0 15px;
    margin-top: 10px;
    color: rgba(235,235,235,.8);
    letter-spacing: 1px;
}
.alert-content p i {
    font-size: 1.25em;
}