<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>電影：海邊的曼徹斯特</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="由于哥哥乔（凯勒·钱德勒）过世，看门人李·钱德勒（凯西·阿弗莱克）成为他16岁的侄子帕特里克（卢卡斯·赫奇斯）的法定监护人，李的生活从此发生彻底的改变，他不得不回到家乡的小城市（曼彻斯特），面对与前妻..." />
    <link rel="canonical" href="http://test.moviecaker.com/video/M00000000158105">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="../entire_css/common.css" rel="stylesheet" />
    <link href="../entire_css/min-search.css" rel="stylesheet" />
    <!--<link href="css/homepage.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://test.moviecaker.com/Content/mobile/icomoon/style.min.css" rel="stylesheet" />

    <link href='http://test.moviecaker.com/Content/mobile/screen.css' rel='stylesheet' />
    <link href='http://test.moviecaker.com/Content/mobile/custom.css' rel='stylesheet' />
</head>
<body>
    <!--<div class="bkgd-mask">
        <section class="content">-->
            <!--<h1 class="logo maT50">
                <img src="img/mob_home_logo.png" alt="">
            </h1>-->
            
            <!--<div class="search-area group-wrap">
                <form> 
                    <button class="btn-close group-wrap" type="reset">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <div class="search-keyword ui">
                        <i class="fa fa-search fa-lg pull-left" aria-hidden="true"></i>
                        <input id="search-input" class="pull-left" type="search" name="" value="" placeholder="尋找電影..."/>
                    </div>
                </form>
                <div id="search-autocomplete"></div>
                <a href="#" class="more pull-right"><i class="fa fa-angle-right padR1x" aria-hidden="true"></i>更多搜尋結果</a>
            </div>-->

            <!--<div class="group-wrap btn-group-wrap">-->
                <!--<div class="page-btn-group pull-left">
                    <a href="#">
                        <div class="page-btn"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                        <span class="page-title">本週票房榜</span>
                    </a>
                </div>
                <div class="page-btn-group pull-left">
                    <a href="#">
                        <div class="page-btn"><i class="fa fa-film" aria-hidden="true"></i></div>
                        <span class="page-title">院線熱映</span> 
                    </a>  
                </div>
                <div class="page-btn-group pull-left">
                    <a href="#">
                        <div class="page-btn"><i class="fa fa-play" aria-hidden="true"></i></div>
                        <span class="page-title">熱門在線看</span>
                    </a>   
                </div>
                <div class="page-btn-group pull-left">
                    <a href="#">
                        <div class="page-btn"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                        <span class="page-title">熱門專題</span>
                    </a>   
                </div>-->
                <!-- 朋友在看，個人頁面，只有登入後才會看到-->
                <!--<div class="page-btn-group pull-left">
                    <a href="#">
                        <div class="page-btn"><i class="fa fa-users" aria-hidden="true"></i></div>
                        <span class="page-title">朋友在看</span>
                    </a>   
                </div>
                <div class="page-btn-group pull-left">
                    <a href="#">
                        <div class="page-btn avatar"><img src="img/user.jpg" alt=""></div>
                        <span class="page-title">個人頁面</span>
                    </a>   
                </div>-->
            <!--</div>-->

            <!-- 登入，註冊按鈕，未登入時顯示-->
            <!--<div class="homepage-btn-wrap group-wrap">
                <a href="#" class="homepage-btn login-btn pull-left">登入</a>
                <a href="#" class="homepage-btn signup-btn pull-right">註冊</a>
            </div>-->
            <!-- 登出按鈕，登入後顯示-->
            <!--<div class="homepage-btn-wrap" style="display: none;">
                <a href="#" class="homepage-btn signout-btn">登出</a>
            </div>-->
        <!--</section>
    </div>-->

    <!--<div ng-hide="main.appReady">
        <div class="loader">Loading...</div>
    </div>-->
    <div>
    <!-- header -->
        <div class="menu" ng-class="{ blur: main.screenStatus() }">
            <ul id="header-items" ng-show="!main.isSearchMode">
                <li id="main-menu">
                    <div class="cell-container">
                        <a href="" class="menu-button fa fa-bars"></a>
                    </div>
                </li>
                <li id="logo">
                    <div class="cell-container">
                        <h1 class="cell-container">
                            <a class="logo" href="/mobile">
                                <img src="http://test.moviecaker.com/Areas/Mobile/Images/logo.png" height="25" alt="MovieCaker" />
                            </a>
                            <!--<span class="gray-w">電影：海邊的曼徹斯特</span>-->
                        </h1>
                    </div>
                </li>
                <li id="other-operate">
                    <div class="cell-container">
                            <a class="icon-key2" ng-click="main.MenuLogin()"></a>
                        <a class="icon-search paL1x" ng-click="main.isSearchMode=true"></a>
                    </div>
                </li>
            </ul>
            <!--<div id="search-autocomplete"></div>-->
        </div>

    <!-- never seen fxn -->
        <!--<div class="popTo" ng-class="{ blur: main.screenStatus() }" id="login" ng-show="main.showMenuLogin">
            <div class="popwrap">
                <div class="popclose" ng-click="main.showMenuLogin=false"><i class="icon-close"></i></div>
                <div class="login popMenu">
                    <img src="/Images/popcorn.png" />
                    <h2 class="title">您发现了一项会员功能</h2>
                    <p>
                        在电影蛋糕，您可以给看过的电影贴标签、写日志或做专题。<br />
                        记录您的电影人生、结交相同爱好的朋友，相信您可以找到好电影，它也会来找你。
                    </p>
                    <a class="btn-f-default" href="/login?open=Mobile">立即使用</a>
                </div>
            </div>
        </div>-->

        <!--<div class="popTo" ng-show="main.screenStatus()" style="background-color: rgba(0,0,0,.3);z-index:99999999">
            <div class="loader">Loading...</div>
        </div>-->

        <!-- menu bar 裡 plus btn -->
        <!--<div id="creat" class="popTo" ng-show="main.showMenuExtraWindows" ng-class="{ blur: main.screenStatus() }">
            <div class="popwrap">
                <div class="popclose" ng-click="main.showMenuExtraWindows=false"><i class="icon-close"></i></div>
                <ul class="popMenu">
                    <li><a style="display:block" ng-click="main.showMenuReviewWindow=true">寫影誌</a></li>
                    <li><a style="display:block" href="/mobile/Topic/Create">做專題</a></li>
                </ul>
            </div>
        </div>-->

        <!-- 寫影誌 -->
        <!--<div id="writeCom" class="popTo" ng-show="main.showMenuReviewWindow" ng-class="{ blur: main.screenStatus() }">
            <div class="popwrap">
                <div class="popclose" ng-click="main.showMenuReviewWindow=false;main.showMenuExtraWindows=false"><i class="icon-close"></i></div>
                <fieldset class="fieldset">
                    <div class="formInput">
                        <label for="" style="text-align: left; width: 25%;">我看過：</label>
                        <input type="text" id="menu-searchVideo" video-search />
                    </div>
                    <div class="formInput">
                        <label for="comment" style="text-align: left;">影評：</label>
                        <p></p>
                    </div>
                    <div class="formInput">
                        <textarea name="comment" id="comment" cols="30" rows="5" style="width: 97%;" required ng-model="main.makeReview.review" ng-bind="main.makeReview.review"></textarea>
                    </div>
                    <div class="formInput">
                        <label for="date">觀影日期：</label>
                        <p>
                            <input name="date" type="checkbox" id="date" ng-model="main.hasReviewDate" ng-click="main.initialViewOn()">
                            <input name="date" type="date" id="date" ng-model="main.makeReview.viewedOn" ng-disabled="!main.hasReviewDate" max="2017-06-12">
                        </p>
                    </div>
                    <div class="formInput">
                        <div class="starW maClean">
                            <div class="starAll taLeft">
                                <raty score="main.makeReview.score"></raty>
                            </div>
                            <i class="fa fRight taLeft lh15 heart" ng-class="{true:'icon-heart',false:'icon-heart2'}[main.makeReview.isLiked]" ng-click="main.makeReview.isLiked=!main.makeReview.isLiked"></i>
                        </div>
                    </div>
                    <div class="formInput">
                        <button class="btn-default" type="button" ng-click="main.addReview()">確定</button>
                    </div>
                </fieldset>
                <div id="review-autocomplete"></div>
            </div>
        </div>-->

        <!-- 分享 -->
        <!--<div id="shareTo" class="popTo" ng-show="main.showShareWindow" ng-class="{ blur: main.screenStatus() }">
            <div class="popwrap">
                <div class="popclose" ng-click="main.showShareWindow=false">
                    <i class="icon-close"></i>
                </div>
                <p class="taCenter fz-s gray-w maT1x">分享</p>
                <div class="shareToSocial taCenter maT1x maB1x">
                    <a class="paL1x" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'WB')"><img src="/Images/icons_weibo-pc.png" height="40" width="40" alt=""></a>
                    <a class="paL1x" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'FB')"><img src="/Images/icons_facebook-pc.png" height="40" width="40" alt=""></a>
                    <a class="paL1x" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'QQ')"><img src="/Images/icons_qq-pc.png" height="40" width="40" alt=""></a>
                    
                </div>
            </div>
        </div>

        <div class="popTo" ng-show="main.shareToQQ" ng-class="{ blur: main.screenStatus() }">
            <div class="popwrap" style="height:85%">
                <div class="popclose" ng-click="main.shareToQQ=false;main.showShareWindow=false;main.thirdPartyShareUrl=''"><i class="icon-close"></i></div>
                <div class="scroll-wrapper">
                    <iframe ng-src="{{ main.thirdPartyShareUrl}}"></iframe>
                </div>
            </div>
        </div>-->
        
        <!--<nav class="nav">
            <ul class="main-menu">
                <li class="main-menu-option"><a href="/mobile">首頁</a></li>
                <ul class="sub-menu">
                    <li><a href="/mobile/master/viewed">觀影達人</a></li>
                    <li><a href="/mobile/master/review">影評達人</a></li>
                    <li><a href="/mobile/master/topic">專題達人</a></li>
                </ul>
                <li class="main-menu-option"><a href="/mobile/video/ranks">電影</a></li>
                <ul class="sub-menu">
                    <li><a href="/mobile/video/ranks">電影榜</a></li>
                    <li><a href="/mobile/video/awards">金獎電影</a></li>
                    <li><a href="/mobile/video/gene">電影基因</a></li>
                </ul>
                <li class="main-menu-option"><a href="/mobile/topic">專題</a></li>
                <ul class="sub-menu">
                    <li><a href="/mobile/topic?sort=new">最新</a></li>
                    <li><a href="/mobile/topic?sort=hot">熱門</a></li>
                    <li><a href="/mobile/topic?sort=all">全部</a></li>
                </ul>
            </ul>
        </nav>-->
        
        <!-- content -->
        <!--<div ng-class="{ blur: main.screenStatus() }">-->
            <!--<div ng-controller="videoIntroCtrl as vm" ng-init="vm.init('M00000000158105')">-->
                <!--<div class="cover video-cover">
                    <img ng-src="http://121.41.34.59/Content/pictures/banners/M00000000158105.png?width=400" alt="" onerror="this.src=''" />
                    <div ng-show="vm.isAuthenticated" class="myCover" ng-click="vm.setUserBanner()">
                        <img width="18" src="/Areas/Mobile/Images/cover-btn-01.svg" alt="" />設為封面
                    </div>
                </div>-->
                <!--<div class="content">
                    <div id="mainInfo">
                        <div class="movieInfo">
                            <movie-poster ng-if="main.appReady" poster-path="http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg" alt=""></movie-poster>
                            <div class="movie-btns">
                                <h2 class="movieInfo-title">海邊的曼徹斯特</h2>
                                <h3 class="movieInfo-subTitle">Manchester By The Sea</h3>
                                <ul class="movieInfo-Like">
                                    <li class="MCuser">
                                        <span data-rate="{{vm.movie.AvgScore}}"></span>
                                    </li>
                                    <li class="MCuser">
                                        <span>豆瓣：<span class="fire">8.60</span></span>
                                        <span>IMDB：<span class="fire">8.10</span></span>
                                    </li>
                                    <li>
                                        <span>上映日期：2016/01/23</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="movieInfo-btn">
                            <li class="c-eye" ng-class="{'active':vm.userData.IsViewed}" ng-click="vm.activing('Watch')">
                                <i class="icon-eye"></i>
                                <br />看過 <span ng-bind="'(' + vm.movie.ViewedNum + ')'"></span>
                            </li>
                            <li class="c-heart" ng-class="{'active':vm.userData.IsLiked}" ng-click="vm.activing('Like')">
                                <i class="icon-heart"></i>
                                <br />喜歡 <span ng-bind="'(' + vm.movie.LikedNum + ')'"></span>
                            </li>
                            <li class="c-fire" ng-class="{'active':vm.userData.IsWantView}" ng-click="vm.activing('WannaWatch')">
                                <i class="icon-fire"></i>
                                <br />想看 <span ng-bind="'(' + vm.movie.WantViewNum + ')'"></span>
                            </li>
                            <li ng-click="vm.displayPlayWindow()" class="c-play" ng-class="{'active':vm.films.length===0}">
                                <i class="fa fa-play-circle-o"></i>
                                <br />播放
                            </li>
                            <li ng-click="vm.displayOtherWindow()" class="c-file">
                                <i class="icon-folder-open"></i>
                                <br />其他
                            </li>
                        </ul>
                        <div class="infoText">
                            <div class="infoContent" ng-class="{'active':vm.seeAllContent}">
                                <div style="white-space: pre-line" ng-hide="vm.seeAllContent" ng-bind="(vm.movie.Story | characters:50 :true)">
                                </div>
                                <div style="white-space: pre-line" ng-show="vm.seeAllContent" ng-bind="vm.movie.Story">
                                </div>
                            </div>
                            <div class="seeMore" ng-click="vm.seeMore()">
                                <span ng-show="!vm.seeAllContent">顯示全部&nbsp;<i class="fa fa-angle-down"></i></span>
                                <span ng-show="vm.seeAllContent">隱藏部分&nbsp;<i class="fa fa-angle-up"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <ul class="tab-Select">
                            <li><a ng-class="{'active':vm.tagSelected=='director'}" ng-click="vm.tagSelected='director'">導演</a></li>
                            <li><a ng-class="{'active':vm.tagSelected=='actor'}" ng-click="vm.tagSelected='actor'">演員</a></li>
                            <li><a ng-class="{'active':vm.tagSelected=='tag'}" ng-click="vm.tagSelected='tag'">標簽</a></li>
                        </ul>
                        <div class="tab-Content" ng-class="{'active':vm.tagSelected=='director'}">
                            <a ng-href="/mobile/actor/details/{{ director.ActorId }}" ng-repeat="director in vm.directores" ng-bind="director.Name"></a>
                        </div>
                        <div class="tab-Content" ng-class="{'active':vm.tagSelected=='actor'}">
                            <a ng-href="/mobile/actor/details/{{ actor.ActorId }}" ng-repeat="actor in vm.actores" ng-bind="actor.Name"></a>
                        </div>
                        <div class="tab-Content" ng-class="{'active':vm.tagSelected=='tag'}">
                            <a href="" ng-repeat="tag in vm.tags" ng-bind="tag.Tag"></a>
                        </div>
                    </div>
                    <div class="comment">
                        <ul class="select-list">
                            <li ng-click="vm.getComments('hot')" ng-class="{'active':vm.reviewSelected=='hot'}">熱門</li>
                            <li ng-click="vm.getComments('createOn')" ng-class="{'active':vm.reviewSelected=='createOn'}">最新</li>
                            <li ng-show="vm.isAuthenticated" ng-click="vm.getComments('myFriend')" ng-class="{'active':vm.reviewSelected=='myFriend'}">我的朋友</li>
                            <li ng-show="vm.isAuthenticated" ng-click="vm.getComments('mine')" ng-class="{'active':vm.reviewSelected=='mine'}">我的</li>
                        </ul>
                        <div class="comment-list">
                            <div class="comment-item" ng-repeat="review in vm.reviews">
                                <user-avatar data-image-src="/Uploads/UserAvatar/{{review.UserAvatar}}" alt=""></user-avatar>
                                <div class="comment-content">
                                    <h3>
                                        <a href="#" ng-bind="review.UserNickName"></a>
                                        <span ng-show="review.ViewedOn!==null" ng-bind="' 觀影於 ' + (review.ViewedOn| mcJsLocalDateTime)"></span>
                                        <span ng-show="review.ViewedOn===null" ng-bind="' 寫於 ' + (review.CreateOn| mcJsLocalDateTime)"></span>
                                        <div class="stars">
                                            <span data-rate="{{review.OwnerLinkVideo_Score}}">
                                            </span>
                                            <i ng-class="{true:'icon-heart',false:'icon-heart2'}[review.OwnerLinkVideo_IsLiked]"></i>
                                        </div>
                                    </h3>
                                    <p>
                                        <span ng-bind="(review.Review | characters:48 :true)"></span>
                                        <a class="green" ng-href="/mobile/review/{{review.ReviewId}}">【全文】</a>
                                    </p>
                                    <ul class="comment-shar paTHalfX">
                                        <li><a ng-href="/mobile/review/{{review.ReviewId}}?response=true"><i class="icon-bubble"></i> (<span ng-bind="review.MessageNum"></span>)</a></li>
                                        <li ng-show="vm.isAuthenticated">
                                            <a href="" ng-click="vm.activingReview($index,'Like')" style="vertical-align: text-bottom;">
                                                <i class="icon-love" ng-class="{'active':review.IsLiked}"></i> (<span ng-bind="review.LikedNum"></span>)
                                            </a>
                                        </li>
                                        <li ng-click="vm.shareReview($index)">
                                            <a href=""><i class="icon-share" ng-class="{'active':review.IsShared}"></i> (<span ng-bind="review.SharedNum"></span>)</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="icon-users"></i> (<span ng-bind="review.PageViews"></span>)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- 彈出視窗 -->

                <!-- 寫影評 -->
                <!--<div id="writeCom" class="popTo ng-hide" ng-show="vm.showReviewWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showReviewWindow=false"><i class="icon-close"></i></div>
                        <fieldset class="fieldset">
                            <div class="formInput">
                                <label for="" style="text-align: left; width: 25%;">我看過：</label>
                                <p class="fa-1.5x" style="width: 75%" ng-bind="vm.movie.Name"></p>
                            </div>
                            <div class="formInput">
                                <label for="comment" style="text-align: left;">影評：</label>
                                <p></p>
                            </div>
                            <div class="formInput">
                                <textarea name="comment" id="comment" cols="30" rows="5" style="width: 97%;" required ng-model="vm.makeReview.review" ng-bind="vm.makeReview.review"></textarea>
                            </div>
                            <div class="formInput">
                                <label for="date">觀影日期：</label>
                                <p>
                                    <input name="date" type="checkbox" id="date" ng-model="vm.hasReviewDate" ng-click="vm.initialViewOn()">
                                    <input name="date" type="date" id="date" ng-model="vm.makeReview.viewedOn" ng-disabled="!vm.hasReviewDate" max="2017-06-12">
                                </p>
                            </div>
                            <div class="formInput">
                                <div class="starW maClean">
                                    <div class="starAll taLeft">
                                        <raty score="makeReview.score"></raty>
                                    </div>
                                    <i class="fRight taLeft lh15 heart" ng-class="{true:'icon-heart',false:'icon-heart2'}[vm.makeReview.isLiked]" ng-click="vm.makeReview.isLiked=!vm.makeReview.isLiked"></i>
                                </div>
                            </div>
                            <div class="formInput">
                                <button class="btn-default" type="button" ng-click="vm.addReview()">確定</button>
                            </div>
                        </fieldset>
                    </div>
                </div>-->

                <!-- 其他按鈕 -->
                <!--<div id="ortherBtn" class="popTo ng-hide" ng-show="vm.showOtherWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showOtherWindow=false"><i class="icon-close"></i></div>
                        <ul class="popMenu">
                            <li ng-click="vm.showReviewWindow=true;vm.showOtherWindow=false"><a href="#"><i class="icon-pencil2"></i>寫影誌</a></li>
                            <li ng-click="vm.showAddTagWindow=true;vm.showOtherWindow=false"><a href="#"><i class="icon-tags"></i>加入標簽</a></li>
                            <li ng-click="vm.showAddTopicWindow=true;vm.showOtherWindow=false"><a href="#"><i class="icon-notebook"></i>加入專題</a></li>
                            <li ng-click="vm.shareMovie('M00000000158105')"><a href="#"><i class="icon-share"></i>分享</a></li>
                        </ul>
                    </div>
                </div>
                <div id="ortherBtn" class="popTo ng-hide" ng-show="vm.showPlayWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showPlayWindow=false"><i class="icon-close"></i></div>
                        <ul class="popMenu" style="width:75%">
                            <li ng-repeat="item in vm.films"><a ng-bind="item.Name" ng-href="{{item.Url}}" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
                <div id="stars" class="popTo ng-hide" ng-show="vm.showRateWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showRateWindow=false"><i class="icon-close"></i></div>
                        <div class="starW">
                            <div class="starAll">
                                <raty score="ratyScore" ng-click="vm.rateVideo()"></raty>
                            </div>
                            <div class="starNum" ng-bind="(vm.ratyScore * 2)"><span>分</span></div>
                        </div>
                    </div>
                </div>
                <div id="addTag" class="popTo" ng-show="vm.showAddTopicWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showAddTopicWindow=false"><i class="icon-close"></i></div>
                        <form action="">
                            <fieldset class="fieldset">
                                <div class="formInput">
                                    <h2 class="gray-w fz-m">{{vm.movie.Name}}</h2>
                                </div>
                                <div class="formInput">
                                    <h4 class="gray-a fz-xs">點選加入到我的專題，再點選即可取消加入</h4>
                                </div>
                                <ul class="popMenu club-select pT10 w100">
                                    <li ng-repeat="item in vm.userTopic" ng-class="{'active':item.IsExisted=='1'}" ng-click="vm.toggleToUserTopic(item)">
                                        <a href="###">
                                            {{item.TopicName}}
                                            <span ng-show="!item.IsPublish">(未發佈)</span>
                                        </a>
                                    </li>
                                </ul>
                                <br />
                                <br />
                                <h3 class="">開始一個新專題</h3>
                                <div class="addTag">
                                    <input ng-model="vm.newTopicName" class="fLeft" type="text"><button ng-click="vm.addNewTopic()" class="btn-s-default">新增</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>-->

                <!-- 加標簽 -->
                <!--<div id="addTag" class="popTo ng-hide" ng-show="vm.showAddTagWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showAddTagWindow=false">
                            <i class="icon-close"></i>
                        </div>
                        <fieldset class="fieldset" style="max-height:75vh;overflow:auto">
                            <div class="formInput">
                                <h2 class="gray-w fz-m">{{vm.movie.Name}}</h2><br />
                                <h3 class="">標記的電影標籤</h3>
                                <div class="tab-Content active">
                                    <a ng-repeat="item in vm.myTagsInVideo">
                                        {{item.Tag}}&nbsp;
                                        <i class="fa fa-times fire" ng-click="vm.removeTagByName($index)"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="formInput">
                                <h3 class="green">新增標簽</h3>
                                <div class="addTag">
                                    <input class="fLeft" type="text" ng-model="vm.newTag"><button class="btn-s-default" type="button" ng-click="vm.addNewTag()" >確認</button>
                                </div>
                            </div>
                            <div class="formInput">
                                <h3 class="green maB1x paB1x borderBG">我的標簽</h3>
                                <div class="tab-Content active">
                                    <a ng-repeat="item in vm.myTags" ng-click="vm.addTagByName(item.Tag)">{{item.Tag}}</a>
                                </div>
                            </div>
                            <div class="formInput">
                                <h3 class="green maB1x paB1x borderBG">常用標簽</h3>
                                <div class="tab-Content active">
                                    <a ng-repeat="item in vm.hotTags" ng-click="vm.addTagByName(item.Tag)">{{item.Tag}}</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>-->
            <!--</div>-->

            <!--<div class="loading-ajax" ng-show="main.loadingStatus()">
                <i class="fa fa-spinner fa-pulse fa-4x green"></i>
            </div>
            <div class="top"></div>
        </div>-->
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script defer src='http://test.moviecaker.com/scripts/angular/angular.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.factory.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/ngTouch/ng-touch.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/sortable/ng-sortable.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/infiniteScroll/ng-infinite-scroll.min.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/app.mobile.module.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/services/filter.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/services/service.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/multi-search.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/topic-video-search.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/star-rating.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/all.directive.js'></script>

<script defer src="http://test.moviecaker.com/scripts/angular/controllers/mobile/layout.ctrl.js?v=20161209"></script>
<script defer src="http://test.moviecaker.com/Scripts/angular/controllers/mobile/video-intro.ctrl.js"></script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>
    wx.config({
        debug: false, 
        appId: 'wx3069e676ab7765a2', 
        timestamp: '1497234030', 
        nonceStr: 'C4B31CE7D95C75CA70D50C19AEF08BF1', 
        signature: '1c078c6e4b2efdf1cdba40fde2498118b5ec634b', 
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
        ] 
    });

    wx.error(function (res) {
        console.log(res);
        console.log('验证失败');
    });
</script>

<script>
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: '《海邊的曼徹斯特》電影來自 MovieCaker', // 分享标题
            link: 'http://test.moviecaker.com/mobile/video/M00000000158105', // 分享链接
            imgUrl: 'http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg?width=300', // 分享图标
            //success: function () {
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () {
            //    // 用户取消分享后执行的回调函数
            //}
        });

        wx.onMenuShareAppMessage({
            title: '《海邊的曼徹斯特》電影來自 MovieCaker', // 分享标题
            desc: '由于哥哥乔（凯勒&#183;钱德勒）过世，看门人李&#183;钱德勒（凯西&#183;阿弗莱克）成为他16岁的侄子帕特里克（卢卡斯&#183;赫奇斯）的法定监护人，李的生活从此发生彻底的改变，他不得不回到家乡的小城市（曼彻斯特），面对与前妻Randi（米歇尔&#183;威廉姆斯）之间的痛苦问题。', // 分享描述
            link: 'http://test.moviecaker.com/mobile/video/M00000000158105', // 分享链接
            imgUrl: 'http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg?width=300', // 分享图标
            type: '', 
            dataUrl: '', 
            //success: function () {
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () {
            //    // 用户取消分享后执行的回调函数
            //}
        });
    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68883772-1', 'auto');
    ga('send', 'pageview');
</script>


</body>
</html>
