<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>電影：海邊的曼徹斯特</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="由于哥哥乔（凯勒·钱德勒）过世，看门人李·钱德勒（凯西·阿弗莱克）成为他16岁的侄子帕特里克（卢卡斯·赫奇斯）的法定监护人，李的生活从此发生彻底的改变，他不得不回到家乡的小城市（曼彻斯特），面对与前妻..." />
    <link rel="canonical" href="http://test.moviecaker.com/video/M00000000158105">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link href="css/custom.css" rel="stylesheet" />-->
    <!--<link href="css/screen.css" rel="stylesheet" />-->
    <link href="../entire_css/common.css" rel="stylesheet" />
    <link href="css/movieInfo.css" rel="stylesheet" />
    <link href="../entire_css/min-search.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://test.moviecaker.com/Content/mobile/icomoon/style.min.css" rel="stylesheet" />
</head>
<body>
    <!--<div ng-hide="main.appReady">
        <div class="loader">Loading...</div>
    </div>-->
    <div ng-show="main.appReady">
        <!-- search area -->
        <div class="search-area group-wrap">
            <form> 
                <button class="btn-close group-wrap" type="reset">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <div class="search-keyword ui">
                    <i class="fa fa-search fa-lg pull-left" aria-hidden="true"></i>
                    <input id="search-input" class="pull-left" type="search" name="" value="" placeholder="尋找電影..." ng-model="main.searchText" ng-bind="main.searchText" multi-search/>
                </div>
            </form>
            <div id="search-autocomplete"></div>
            <a href="#" class="more pull-right"><i class="fa fa-angle-right padR1x" aria-hidden="true"></i>更多搜尋結果</a>
        </div>

        <!-- header -->
        <div class="header">
            <ul class="group-wrap header-items">
                <li class="pull-left">
                    <a href="/mobile">
                        <i class="fa fa-bars padTBHalfX" aria-hidden="true"></i>
                    </a>
                </li>
                <!-- 版本 -->
                <li class="pull-left">
                    <p class="app-version" style="font-size: 10px; width: 70px; line-height: 15px; margin-left: 10px;">alpha v2.6.20171022</p>
                </li>
                <li id="user-icon" class="pull-right">
                     <a href="/login">
                        <div class="login-icon padTBHalfX maLHalfx">
                            <img src="img/login_icon.png"alt="">
                        </div>
                    </a> 
                    <!-- 登入後顯示 -->
                    <a href="#" style="display:none;">
                        <div class="circle-mask circle1x">
                            <img src="img/default_avatar.png" alt="">
                        </div>
                    </a>
                </li>
                <li id="search-icon" class="pull-right maR1x">
                    <i class="fa fa-search padTBHalfX" aria-hidden="true"></i>
                </li>
                <li id="logo-text">
                    <a href="/mobile"><img src="img/mc_logo_text.png" alt=""></a>
                </li>
            </ul>
        </div>

        <!-- SHARE_marketing -->
        <section>
            <!-- 當 scroll 的時候，window position > 80 ".share-marketing" 要 add class "hidden"; 小於就要 remove class "hidden" -->
            <!-- 要出現 “分享圖” ".share-marketing" 要 add class "show" -->
            <div class="share-marketing slideable">
                <div class="img-wrapper">
                    <!-- <img src="img/share-marketing-card.png" alt=""> -->
                    <!-- <img src="img/share-marketing-card-s.png" alt=""> --> <!-- 簡體 --> 
                    <img src="img/share-marketing-text.png" alt="">
                    <!-- <img src="img/share-marketing-text-s.png" alt=""> --> <!-- 簡體 --> 
                </div>
                <label for="noShow"><input id="noShow" type="checkbox"> 下次不再顯示</label>
                <!-- 按下 “我知道了” .share-marketing 要 addclass "hidden" 就不會出現 -->
                <button class="btn-ok maT1x">我知道了</button>
            </div>
            <!-- 要出現 “拉新圖” ".signup-prompt" 要 add class "show" -->
            <div class="signup-prompt slideable hidden">
                <div class="rel-pos">
                    <div class="img-wrapper">
                        <!-- <img src="img/gift-simplified.png" alt=""> --> <!-- 簡體 -->
                        <img src="img/gift-traditional.png" alt="">
                    </div>
                    <a href="#" class="btn-receive">立即註冊領取</a>
                </div>
                <a href="#" class="is-member">我已是會員了</a>
                <!-- 按下 “我知道了” .signup-prompt 要 remove class "show" 就不會出現 -->
                <button class="btn-close group-wrap adjust-location" type="reset">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
            </div>
        </section>
        

        <!-- content -->
        <div ng-class="{ blur: main.screenStatus() }">
            <div ng-controller="videoIntroCtrl as vm" ng-init="vm.init('M00000000158105')">
                <!-- fixed background -->
                <div class="bkgd-img">
                    <!--<movie-poster ng-if="main.appReady" poster-path="http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg" alt=""></movie-poster>-->
                    <div class="white-mask"></div>
                    <img src="img/manchester.png" alt="">
                </div>

                <!-- 簽到按鈕 -->
                <div>
                    <ul class="sticky sticky-bottom reaction-btn group-wrap">
                        <li class="c-eye" ng-class="{'active':vm.userData.IsViewed}" ng-click="vm.activing('Watch')">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>看過</span> 
                        </li>
                        <li class="c-heart" ng-class="{'active':vm.userData.IsLiked}" ng-click="vm.activing('Like')">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span>喜歡</span>
                        </li>
                        <li class="c-fire" ng-class="{'active':vm.userData.IsWantView}" ng-click="vm.activing('WannaWatch')">
                            <i class="fa fa-bookmark"></i>
                            <span>想看</span>
                        </li>
                        <li class="" ng-class="" ng-click="vm.showReviewWindow=true;vm.showOtherWindow=false">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>寫影誌</span>
                        </li>
                        <li class="" ng-class="" ng-click="vm.shareMovie('M00000000158105')">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <span>分享</span>
                        </li>
                    </ul>
                </div>
            
                <!-- 分享 -->
                <div id="shareTo" class="ng-hide" ng-show="main.showShareWindow" ng-class="{ blur: main.screenStatus() }">
                    <ul class="sticky sticky-bottom share-btn group-wrap pad0">
                        <li class="fz-normal text-white60p">分享</li>
                        <li>
                            <a href="#" class="btn-social-share circle40 btn-wechat" name="provider" value="WeChat" title="使用 微信 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'WX')">
                                <i class="fa fa-weixin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn-social-share circle40 btn-fb" name="provider" value="Facebook" title="使用 Facebook 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'FB')">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn-social-share circle40 btn-weibo" name="provider" value="Weibo" title="使用 新浪微博 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'WB')">
                                <i class="fa fa-weibo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn-social-share circle40 btn-qq" name="provider" value="QQ" title="使用 QQ 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'QQ')">
                                <i class="fa fa-qq" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="text-white60p fz-m" ng-click="main.showShareWindow=false"><i class="fa fa-times" aria-hidden="true"></i></li>
                    </ul>
                    <!-- 加上 class showAlert 會出現 -->
                    <div class="weixin-alert fixed-alert bottom-alert group-wrap">
                        <p class="text-blue fz-normal"><i class="fa fa-weixin" aria-hidden="true"></i> 微信分享小叮嚀</p>
                        <p class="maT4 text-white80p fz-s">目前暫時還沒有直接分享到微信朋友圈的功能，請點選您手機<span class="text-blue">右上角三個點</span>選項中的分享功能就可以分享到微信。</p>
                        <button class="btn-weixinAlert pull-right bkgd-pink maL1x maT1x">不用再提醒</button>
                        <button class="btn-weixinAlert pull-right bkgd-blue maT1x">下次再提醒</button>
                    </div>
                </div>

            <!--<div class="popTo" ng-show="main.shareToQQ" ng-class="{ blur: main.screenStatus() }">
                <div class="popwrap" style="height:85%">
                    <div class="popclose" ng-click="main.shareToQQ=false;main.showShareWindow=false;main.thirdPartyShareUrl=''"><i class="icon-close"></i></div>
                    <div class="scroll-wrapper">
                        <iframe ng-src="{{ main.thirdPartyShareUrl}}"></iframe>
                    </div>
                </div>
            </div>-->
                
            <!-- main content -->
                <!-- 當 window scrollTop != 0 的時候，下面這個 “content-wrap” 要 add class "scroll" -->
                <div class="content-wrap top35vh">
                    <section class="movieInfo">
                        <h2 class="fz-m">海邊的曼徹斯特</h2>
                        <h3 class="fz-subtitle maTHalf1x">Manchester By The Sea</h3>
                        <p class="maT15">
                            <span class="fz-xs">上映日期 2016/01/23</span> <br/>
                            <span class="fz-s">豆瓣 <span class="text-blue">8.6</span></span>
                            <span class="fz-s maL15">IMDB <span class="text-blue">8.1</span></span>
                        </p>
                        <p class="maT15 fz-s noColor">
                        <!--看過 喜歡 想看 有幾個-->
                            <span class="c-eye" ng-class="{'active':vm.userData.IsViewed}">
                                <i class="fa fa-eye" aria-hidden="true"></i><span class="maLHalfx" ng-bind="'(' + vm.movie.ViewedNum + ')'">6</span>
                            </span>
                            <span class="maL2x c-heart" ng-class="{'active':vm.userData.IsLiked}">
                                <i class="fa fa-heart" aria-hidden="true"></i><span class="maLHalfx" ng-bind="'(' + vm.movie.LikedNum + ')'">10</span>
                            </span>
                            <span class="maL2x c-fire" ng-class="{'active':vm.userData.IsWantView}">
                                <i class="fa fa-bookmark"></i><span class="maLHalfx" ng-bind="'(' + vm.movie.WantViewNum + ')'">4</span>
                            </span>
                        </p>
                    </section>

                    <div class="btn-wrap">
                        <div class="btn-playMovie maT13p" ng-click="vm.displayPlayWindow()" ng-class="{'active':vm.films.length===0}">
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i><span class="maLHalfx">在線看</span>
                        </div>
                        <!-- ul addClass show 會出現-->
                        <ul class="play-movie-selection"> 
                            <li><a href="#">騰訊視頻</a></li>
                            <li><a href="#">優酷視頻</a></li>
                            <li><a href="#">搜狐視頻</a></li>
                        </ul>
                    </div>
                    
                    <section class="movieAbout maT13p">
                        <div class="section-title fz-subtitle text-blue">電影介紹</div>
                        <article class="padLR10 maT2x">
                            <div class="moviePlot active" ng-class="{'active':vm.seeAllContent}">
                                <!-- 點擊 “顯示全部” 時要 add class "clamp-3"，點擊 “隱藏部分” 時要 remove class "clamp-3" -->
                                <div class="content-preline line-clamp clamp-3 letter-space-1x" ng-show="vm.seeAllContent" ng-bind="vm.movie.Story">劇情描述，為了逃避苦澀過往，李錢德勒（凱西艾佛列克 飾演）離鄉背井，在波士頓某個小鎮當水電工。哥哥的意外逝世，讓他不得不回到位在麻州的「曼徹斯特海邊」，並成為姪子派屈克（盧卡斯海吉斯 飾演）的法定監護人。除了兩代之間的溝通隔閡，李一方面要撫平派屈克的喪父傷痛，同時還得要面對擁有新家庭的前妻蘭蒂（蜜雪兒威廉絲 飾演）。這趟旅程，也讓李破碎的心，有了重新拾起的機會…。
                                </div>
                            </div>
                            <div class="movieTag maT2x">
                                <span class="fz-xs" ng-repeat="tag in vm.tags" ng-bind="tag.Tag"> 美國 / 奧斯卡</span>
                            </div>
                            <div class="seeMore maT2x" ng-click="vm.seeMore()">
                                <span ng-show="!vm.seeAllContent">顯示全部&nbsp;<i class="fa fa-angle-down"></i></span>
                                <span ng-show="vm.seeAllContent">隱藏部分&nbsp;<i class="fa fa-angle-up"></i></span>
                            </div>
                        </article>
                    </section>

                    <section class="movieCast maT13p">
                        <div class="section-title fz-subtitle text-blue">導演及演員</div>
                        <article class="padLR10 maT2x">
                            <div class="cast-wrap active" ng-class="{'active':vm.seeAllContent}">
                                <span class="fz-s text-white fontW-light">導演</span>
                                <div class="castName maB1x">
                                    <a ng-href="/mobile/actor/details/{{ director.ActorId }}" ng-repeat="director in vm.directores" ng-bind="director.Name">詹姆斯·马什</a>
                                </div>
                                <span class="fz-s text-white fontW-light">演員</span>
                                <div class="castName">
                                    <a ng-href="/mobile/actor/details/{{ actor.ActorId }}" ng-repeat="actor in vm.actores" ng-bind="actor.Name">卡西·阿弗莱克</a>
                                    <a ng-href="/mobile/actor/details/{{ actor.ActorId }}" ng-repeat="actor in vm.actores" ng-bind="actor.Name">凯尔·钱德勒</a>
                                    <a ng-href="/mobile/actor/details/{{ actor.ActorId }}" ng-repeat="actor in vm.actores" ng-bind="actor.Name">泰·多诺万</a>
                                    <a ng-href="/mobile/actor/details/{{ actor.ActorId }}" ng-repeat="actor in vm.actores" ng-bind="actor.Name">米歇尔·威廉姆斯</a>
                                </div>
                            </div>
                            <div class="seeMore maT2x" ng-click="vm.seeMore()">
                                <span ng-show="!vm.seeAllContent">顯示全部&nbsp;<i class="fa fa-angle-down"></i></span>
                                <span ng-show="vm.seeAllContent">隱藏部分&nbsp;<i class="fa fa-angle-up"></i></span>
                            </div>
                        </article>
                    </section>
                    
                    <section class="relatedProject maT13p">
                        <div class="section-title fz-subtitle text-blue">相關專題</div>
                        <article class="maT2x group-wrap">
                            <div class="scroll-h">
                                <ul class="project-group group-wrap">
                                    <!-- li 從這邊開始 repeat 最熱門的前五個相關專題 -->
                                    <li class="" style="background-image:url('img/captain.png');">
                                        <a href="#">
                                            <div class="group-wrap">
                                                <div class="proj-author pull-right group-wrap">
                                                    <span class="maLHalfx pull-right fz-xs text-white">AUTHOR's NAME</span>
                                                    <div class="circle-mask circle-xs pull-right">
                                                        <img src="img/user.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="project-content maT3x">
                                                <p class="fontW-bold text-white line-clamp clamp-1">2017上半年北美票房排行TOP30~你看了幾部？</p>
                                                <p class="text-white line-clamp clamp-1">2016年对电影行业来说是标志性的一年，全球票房总收入超过111亿美元，远远超过去年刚刚突破的球票房总收入超过111亿美元，远远超过去年刚刚突破的</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="" style="background-image:url('img/man_h.png');">
                                        <a href="#">
                                            <div class="group-wrap">
                                                <div class="proj-author pull-right group-wrap">
                                                    <span class="maLHalfx pull-right fz-xs text-white">AUTHOR's NAME</span>
                                                    <div class="circle-mask circle-xs pull-right">
                                                        <img src="img/user.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="project-content maT3x">
                                                <p class="fontW-bold text-white line-clamp clamp-1">2017上半年北美票房排行TOP30</p>
                                                <p class="text-white line-clamp clamp-1">2016年对电影行业来说是标志性的一年，全球票房总收入超过</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="" style="background-image:url('img/captain.png');">
                                        <a href="#">
                                            <div class="group-wrap">
                                                <div class="proj-author pull-right group-wrap">
                                                    <span class="maLHalfx pull-right fz-xs text-white">AUTHOR's NAME</span>
                                                    <div class="circle-mask circle-xs pull-right">
                                                        <img src="img/user.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="project-content maT3x">
                                                <p class="fontW-bold text-white line-clamp clamp-1">PROJECT TITLE GOES HERE</p>
                                                <p class="text-white line-clamp clamp-1">2016年对电影行业来说是标志性</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </section>

                    <section class="movieReviews maT13p">
                        <div class="section-title fz-subtitle text-blue">影評</div>
                        <article class="padLR10 maT2x">
                            <div class="review-wrap">
                                <ul class="review-nav">
                                    <li class="active">熱門</li>
                                    <li >最新</li>
                                </ul>
                                <div class="review-list active" ng-class="{'active':vm.reviewSelected=='hot'}">
                                    <!-- 這邊開始repeat -->
                                    <div class="review-item maT2x" ng-repeat="review in vm.reviews">
                                        <div class="group-wrap">
                                            <div class="circle-mask circle40 pull-left maT4">
                                                <img src="img/default_avatar.png" alt="">
                                                <!--<user-avatar data-image-src="/Uploads/UserAvatar/{{review.UserAvatar}}" alt=""></user-avatar>-->
                                            </div>
                                            <div class="review-info pull-right">
                                                <a href="#" ng-bind="review.UserNickName">AUTHOR's NAME</a>
                                                <div class="group-wrap hasColor">
                                                    <span class="stars pull-left" data-rate="{{review.OwnerLinkVideo_Score}}">
                                                        <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                    </span>
                                                    <i class="fa fa-heart maL5p maTHalf1x pull-left" ng-class="{true:'fa-heart',false:'fa-heart-o'}[review.OwnerLinkVideo_IsLiked]"></i>
                                                    <p class="fz-xs text-gray pull-right" ng-show="review.ViewedOn!==null" ng-bind="' 觀影於 ' + (review.ViewedOn| mcJsLocalDateTime)">觀影於 2017/01/31</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-content maT1x maBHalf1x">
                                            <p class="line-clamp clamp-5 letter-space-1x">
                                                我心目中的奧斯卡最佳男主角，凱西艾佛列克，他本身陰鬱又略帶懦弱神經質的感覺，完美的詮釋一個心碎絕，他本身陰鬱又略帶懦弱神經質的感覺。凱西艾佛列克，他本身陰鬱又略帶懦弱神經質的感覺，完美的詮釋一個心碎絕，他本身陰鬱又略帶
                                            </p>
                                            <div class="group-wrap maT1x">
                                                <ul class="review-num-stats pull-left group-wrap">
                                                    <!-- 第一個li拿掉 showLikeNum 就不會出現 (如果有沒人喜歡影評就不要出現第一個li) -->
                                                    <li class="text-white60p fz-s pull-left maR15 showLikeNum">
                                                        <span ng-bind="review.LikedNum">11</span> 人喜歡
                                                    </li>
                                                    <li class="text-white60p fz-s pull-left">
                                                        <span ng-bind="review.PageViews">50</span> 次瀏覽
                                                    </li>
                                                </ul>
                                                <a class="pull-right readMore" ng-href="/mobile/review/{{review.ReviewId}}">全文</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-list" ng-class="{'active':vm.reviewSelected=='creatOn'}">
                                    <!-- 這邊開始repeat -->
                                    <div class="review-item maT2x" ng-repeat="review in vm.reviews">
                                        <div class="group-wrap">
                                            <div class="circle-mask circle40 pull-left maT4">
                                                <img src="img/user.jpg" alt="">
                                                <!--<user-avatar data-image-src="/Uploads/UserAvatar/{{review.UserAvatar}}" alt=""></user-avatar>-->
                                            </div>
                                            <div class="review-info pull-right">
                                                <a href="#" ng-bind="review.UserNickName">AUTHOR's NAME</a>
                                                <div class="group-wrap">
                                                    <span class="stars pull-left" data-rate="{{review.OwnerLinkVideo_Score}}">
                                                        <i class="icon-star3 ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="icon-star3 ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="icon-star3 ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="icon-star3 ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                        <i class="icon-star3 ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                                    </span>
                                                    <i class="icon-heart maL5p maTHalf1x pull-left" ng-class="{true:'icon-heart',false:'icon-heart2'}[review.OwnerLinkVideo_IsLiked]"></i>
                                                    <p class="fz-xs text-gray pull-right" ng-show="review.ViewedOn!==null" ng-bind="' 觀影於 ' + (review.ViewedOn| mcJsLocalDateTime)">觀影於 2017/01/31</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-content maT1x maBHalf1x">
                                            <p class="line-clamp clamp-5 letter-space-1x">
                                                我心目中的奧斯卡最佳男主角，凱西艾佛列克，他本身陰鬱又略帶懦弱神經質的感覺，完美的詮釋一個心碎絕，他本身陰鬱又略帶懦弱神經質的感覺。凱西艾佛列克，他本身陰鬱又略帶懦弱神經質的感覺，完美的詮釋一個心碎絕，他本身陰鬱又略帶
                                            </p>
                                            <div class="group-wrap maT1x">
                                                <ul class="review-num-stats pull-left group-wrap">
                                                    <!-- 第一個li拿掉 showLikeNum 就不會出現 (如果有沒人喜歡影評就不要出現第一個li) -->
                                                    <li class="text-white60p fz-s pull-left maR15 showLikeNum">
                                                        <span ng-bind="review.LikedNum">11</span> 人喜歡
                                                    </li>
                                                    <li class="text-white60p fz-s pull-left">
                                                        <span ng-bind="review.PageViews">50</span> 次瀏覽
                                                    </li>
                                                </ul>
                                                <a class="pull-right readMore" ng-href="/mobile/review/{{review.ReviewId}}">全文</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>


            <!-- 彈出視窗 -->
                <!-- 寫影評 - 電影介紹頁裡面的-->
                <div id="writeCom" class="popTo write-edit-review ng-hide" ng-show="vm.showReviewWindow" style="overflow:scroll;">
                    <ul class="pop-nav group-wrap" style="z-index:2;">
                        <li class="pull-left" ng-click="vm.showReviewWindow=false">
                            <button class="btn-cancel fz-s" type="button">取消</button>
                        </li>
                        <li class="pull-right" ng-click="vm.addReview()">
                            <button class="btn-done fz-s" type="button">完成</button>
                        </li>
                        <li class="title">寫影誌</li>
                    </ul>
                    <div class="popwrap">
                        <fieldset class="fieldset">
                            <div class="text-white divider-line">
                                <span class="fz-s text-white60p fontW-normal">我看過</span><br>
                                <span class="fz-subtitle fontW-bold text-white" ng-bind="vm.movie.Name">海邊的曼徹斯特</span><br>
                                <span class="fz-subtitle text-white" ng-bind="vm.movie.Name">Manchester By The Sea</span>
                                （ <span class="fz-subtitle text-white" ng-bind="vm.movie.Year">2016</span> ）
                            </div>
                            <div class="maT2x group-wrap">
                                <div class="pull-left">
                                    <span class="fz-s text-white60p">評分電影</span><br />
                                    <div class="starRating fz-lg">
                                        <raty score="makeReview.score">
                                            <i ng-repeat="star in stars" class="fa fa-star-o" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="fa fa-star-o" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="fa fa-star-o" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="fa fa-star-o" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="fa fa-star-o" ng-click="setScope($index)"></i>
                                        </raty>
                                    </div>
                                </div>
                                <div class="pull-right taR hasColor">
                                    <span class="fz-s text-white60p">喜歡電影</span><br />
                                    <i class="fa fa-heart-o fz-lg" ng-class="{true:'fa-heart',false:'fa-heart-o'}[vm.makeReview.isLiked]" ng-click="vm.makeReview.isLiked=!vm.makeReview.isLiked"></i>
                                </div>
                            </div>
                            <div class="divider-line maT15 line-adjust">
                                <div class="group-wrap">
                                    <label for="date" class="fz-s text-white60p pull-left">觀影日期</label>
                                    <div class="pull-left maL14">
                                        <input name="date" type="checkbox" id="date" ng-model="vm.hasReviewDate" ng-click="vm.initialViewOn()">
                                        <input class="maL1x" name="date" type="date" id="date" ng-model="vm.makeReview.viewedOn" ng-disabled="!vm.hasReviewDate" max="2017-06-12" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="maT3x">
                                <textarea class="reviewContent" name="comment" id="comment" required ng-model="vm.makeReview.review" ng-bind="vm.makeReview.review" placeholder="請寫下你的觀影心得..." style="height: 63vh;"></textarea>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div> <!--end of ng controller -->

            <!--<div class="loading-ajax" ng-show="main.loadingStatus()">
                <i class="fa fa-spinner fa-pulse fa-4x green"></i>
            </div>-->
            <div class="top circle40">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </div> 
        </div> <!--end of ng class -->
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script defer src='http://test.moviecaker.com/scripts/angular/angular.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.factory.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/ngTouch/ng-touch.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/sortable/ng-sortable.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/infiniteScroll/ng-infinite-scroll.min.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/app.mobile.module.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/services/filter.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/services/service.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/multi-search.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/topic-video-search.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/star-rating.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/all.directive.js'></script>

<script defer src="http://test.moviecaker.com/scripts/angular/controllers/mobile/layout.ctrl.js?v=20161209"></script>
<script defer src="http://test.moviecaker.com/Scripts/angular/controllers/mobile/video-intro.ctrl.js"></script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>
    wx.config({
        debug: false, 
        appId: 'wx3069e676ab7765a2', 
        timestamp: '1497234030', 
        nonceStr: 'C4B31CE7D95C75CA70D50C19AEF08BF1', 
        signature: '1c078c6e4b2efdf1cdba40fde2498118b5ec634b', 
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
        ] 
    });

    wx.error(function (res) {
        console.log(res);
        console.log('验证失败');
    });
</script>

<script>
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: '《海邊的曼徹斯特》電影來自 MovieCaker', // 分享标题
            link: 'http://test.moviecaker.com/mobile/video/M00000000158105', // 分享链接
            imgUrl: 'http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg?width=300', // 分享图标
            //success: function () {
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () {
            //    // 用户取消分享后执行的回调函数
            //}
        });

        wx.onMenuShareAppMessage({
            title: '《海邊的曼徹斯特》電影來自 MovieCaker', // 分享标题
            desc: '由于哥哥乔（凯勒&#183;钱德勒）过世，看门人李&#183;钱德勒（凯西&#183;阿弗莱克）成为他16岁的侄子帕特里克（卢卡斯&#183;赫奇斯）的法定监护人，李的生活从此发生彻底的改变，他不得不回到家乡的小城市（曼彻斯特），面对与前妻Randi（米歇尔&#183;威廉姆斯）之间的痛苦问题。', // 分享描述
            link: 'http://test.moviecaker.com/mobile/video/M00000000158105', // 分享链接
            imgUrl: 'http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg?width=300', // 分享图标
            type: '', 
            dataUrl: '', 
            //success: function () {
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () {
            //    // 用户取消分享后执行的回调函数
            //}
        });
    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68883772-1', 'auto');
    ga('send', 'pageview');
</script>

<script>
    $(document).ready(function(){
        // 測試搜尋樣式，不是真的搜尋功能
        $( function() {
            var availableTags = [
                "美女與野獸 Beauty and the Beast (2017)",
                "小太陽的願望 Little Miss Sunshine (2006)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "美女與野獸 Beauty and the Beast (2017)",
                "小太陽的願望 Little Miss Sunshine (2006)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                "醜女大翻身 200 Pounds Beauty (2006)","醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "美女與野獸 Beauty and the Beast (2017)",
                "小太陽的願望 Little Miss Sunshine (2006)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                "醜女大翻身 200 Pounds Beauty (2006)"
            ];
            $( "#search-input" ).autocomplete({
                source: availableTags,
                appendTo: "#search-autocomplete",
                open: function(){
                    $('.more').addClass("searching"); // 有搜尋結果再出現”更多搜尋“按鈕
                },
                close: function(){
                    $('.more').removeClass("searching"); // 沒有搜尋結果不出現”更多搜尋“按鈕
                }
            });
        });

        // 首頁點擊搜尋的動態效果
        $('#search-icon').on("click", function(){
            window.scrollBy(0, 1); // 讓鍵盤出現時頁面不會被推上去
            $('.search-area').addClass("searching");
            $('.btn-close').addClass("searching");
            $('.search-keyword').addClass("searching");
        });
        // 點擊叉按鈕關閉搜尋
        $('.btn-close').on("click", function(){
            $('.search-area').removeClass("searching");
            $('.btn-close').removeClass("searching");
            $('.search-keyword').removeClass("searching");
        });

        // 點擊線上看按鈕會出現下拉選單
        $('.btn-playMovie').on('click',function(){
            if ($('.play-movie-selection').hasClass('show')) {
                $('.play-movie-selection').removeClass('show');
            } else {
                $('.play-movie-selection').addClass('show');
            }
        });

        // 滑動畫面 會出現黑色底
        $(window).scroll(function() {
            var windowpos = $(window).scrollTop();
            var top = $('.top');
            var header = $('.header');
            var content = $('.content-wrap');
            var shareImg = $('.share-marketing');
            var signupImg = $('.signup-prompt');
            if ( windowpos > 0 ) {
                header.addClass('scroll');
                content.addClass('scroll');
            } else {
                header.removeClass('scroll');
                content.removeClass('scroll');
            }

            if (windowpos > 80 ) {
                // signupImg.addClass('hidden');
                shareImg.addClass('hidden');
            } else {
                // signupImg.removeClass('hidden');
                shareImg.removeClass('hidden');
            }

            if ( windowpos > 300 ) {
                top.addClass('active')
            } else {
                top.removeClass('active');
            }
        });

        
    });
</script>

</body>
</html>
