<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>電影：海邊的曼徹斯特</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="由于哥哥乔（凯勒·钱德勒）过世，看门人李·钱德勒（凯西·阿弗莱克）成为他16岁的侄子帕特里克（卢卡斯·赫奇斯）的法定监护人，李的生活从此发生彻底的改变，他不得不回到家乡的小城市（曼彻斯特），面对与前妻..." />
    <link rel="canonical" href="http://test.moviecaker.com/video/M00000000158105">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="css/custom.css" rel="stylesheet" />
    <link href="css/screen.css" rel="stylesheet" />
    <link href="../entire_css/common.css" rel="stylesheet" />
    <link href="css/movie.css" rel="stylesheet" />
    <link href="../entire_css/min-search.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://test.moviecaker.com/Content/mobile/icomoon/style.min.css" rel="stylesheet" />

    <!--<link href='http://test.moviecaker.com/Content/mobile/screen.css' rel='stylesheet' />
    <link href='http://test.moviecaker.com/Content/mobile/custom.css' rel='stylesheet' />-->
</head>
<body>
    <!--<div ng-hide="main.appReady">
        <div class="loader">Loading...</div>
    </div>-->
    <div>
    <!-- search area -->
        <div class="search-area group-wrap">
            <form> 
                <button class="btn-close group-wrap" type="reset">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <div class="search-keyword ui">
                    <i class="fa fa-search fa-lg pull-left" aria-hidden="true"></i>
                    <input id="search-input" class="pull-left" type="search" name="" value="" placeholder="尋找電影..." ng-model="main.searchText" ng-bind="main.searchText" multi-search/>
                </div>
            </form>
            <div id="search-autocomplete"></div>
            <a href="#" class="more pull-right"><i class="fa fa-angle-right padR1x" aria-hidden="true"></i>更多搜尋結果</a>
        </div>
    <!-- header -->
        <div class="header" ng-class="{ blur: main.screenStatus() }">
            <ul class="group-wrap header-items" ng-show="!main.isSearchMode">
                <li id="logo" class="pull-left">
                    <a href="/mobile" class="padT3 group-wrap">
                        <img class="pull-left" src="http://test.moviecaker.com/Areas/Mobile/Images/logo.png" height="25" alt="MovieCaker" />
                        <i class="fa fa-bars maL1x padT3 pull-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li id="user-icon" class="pull-right">
                    <a href="/login" ng-click="main.MenuLogin()">
                        <i class="fa fa-user padTBHalfX" aria-hidden="true"></i>
                    </a>
                    <!-- 登入後顯示 -->
                    <a href="#" style="display:none;">
                        <div class="circle-mask circle1x">
                            <img src="img/user.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li id="search-icon" class="pull-right maR15">
                    <i class="fa fa-search padTBHalfX" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
        
        <!-- content -->
        <div ng-class="{ blur: main.screenStatus() }">
            <div ng-controller="videoIntroCtrl as vm" ng-init="vm.init('M00000000158105')">
                <section class="content-wrap">
                    <div class="bkgd-img">
                        <!--<movie-poster ng-if="main.appReady" poster-path="http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg" alt=""></movie-poster>-->
                        <img src="img/manchester.png" alt="">
                        <div class="gradient"></div>
                    </div>
                    <div class="card-wrap">
                        <div id="mainInfo">
                            <div class="movieInfo">
                                <h2 class="movieInfo-title fz-m">海邊的曼徹斯特</h2>
                                <h3 class="movieInfo-subTitle fz-subtitle maTHalf1x">Manchester By The Sea</h3>
                                <p class="maT15">
                                    <span class="movieInfo-date fz-xs">上映日期 2016/01/23</span> <br/>
                                    <span class="movieInfo-rating fz-s">豆瓣 <span class="text-blue">8.6</span></span>
                                    <span class="movieInfo-rating fz-s maL15">IMDB <span class="text-blue">8.1</span></span>
                                </p>
                                <p class="maT15 fz-s">
                                    <span class=""><i class="fa fa-eye" aria-hidden="true"></i><span class="maLHalfx">6</span></span>
                                    <span class="maL2x"><i class="fa fa-heart" aria-hidden="true"></i><span class="maLHalfx">10</span></span>
                                    <span class="maL2x"><i class="icon-fire"></i><span class="maLHalfx">4</span></span>
                                </p>
                            </div>
                            <a href="#" class="btn btn-play maT13p maT50">
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i><span class="maLHalfx">在線看</span>
                            </a>
                            <!--<ul class="movieInfo-btn">
                                <li class="c-eye" ng-class="{'active':vm.userData.IsViewed}" ng-click="vm.activing('Watch')">
                                    <i class="icon-eye"></i>
                                    <br />看過 <span ng-bind="'(' + vm.movie.ViewedNum + ')'"></span>
                                </li>
                                <li class="c-heart" ng-class="{'active':vm.userData.IsLiked}" ng-click="vm.activing('Like')">
                                    <i class="icon-heart"></i>
                                    <br />喜歡 <span ng-bind="'(' + vm.movie.LikedNum + ')'"></span>
                                </li>
                                <li class="c-fire" ng-class="{'active':vm.userData.IsWantView}" ng-click="vm.activing('WannaWatch')">
                                    <i class="icon-fire"></i>
                                    <br />想看 <span ng-bind="'(' + vm.movie.WantViewNum + ')'"></span>
                                </li>
                                <li ng-click="vm.displayPlayWindow()" class="c-play" ng-class="{'active':vm.films.length===0}">
                                    <i class="fa fa-play-circle-o"></i>
                                    <br />播放
                                </li>
                                <li ng-click="vm.displayOtherWindow()" class="c-file">
                                    <i class="icon-folder-open"></i>
                                    <br />其他
                                </li>
                            </ul>-->
                            <!--<div class="infoText">
                                <div class="infoContent" ng-class="{'active':vm.seeAllContent}">
                                    <div style="white-space: pre-line" ng-hide="vm.seeAllContent" ng-bind="(vm.movie.Story | characters:50 :true)">
                                    </div>
                                    <div style="white-space: pre-line" ng-show="vm.seeAllContent" ng-bind="vm.movie.Story">
                                    </div>
                                </div>
                                <div class="seeMore" ng-click="vm.seeMore()">
                                    <span ng-show="!vm.seeAllContent">顯示全部&nbsp;<i class="fa fa-angle-down"></i></span>
                                    <span ng-show="vm.seeAllContent">隱藏部分&nbsp;<i class="fa fa-angle-up"></i></span>
                                </div>
                            </div>-->
                        </div>
                        <!--<div class="tab">
                            <ul class="tab-Select">
                                <li><a ng-class="{'active':vm.tagSelected=='director'}" ng-click="vm.tagSelected='director'">導演</a></li>
                                <li><a ng-class="{'active':vm.tagSelected=='actor'}" ng-click="vm.tagSelected='actor'">演員</a></li>
                                <li><a ng-class="{'active':vm.tagSelected=='tag'}" ng-click="vm.tagSelected='tag'">標簽</a></li>
                            </ul>
                            <div class="tab-Content" ng-class="{'active':vm.tagSelected=='director'}">
                                <a ng-href="/mobile/actor/details/{{ director.ActorId }}" ng-repeat="director in vm.directores" ng-bind="director.Name"></a>
                            </div>
                            <div class="tab-Content" ng-class="{'active':vm.tagSelected=='actor'}">
                                <a ng-href="/mobile/actor/details/{{ actor.ActorId }}" ng-repeat="actor in vm.actores" ng-bind="actor.Name"></a>
                            </div>
                            <div class="tab-Content" ng-class="{'active':vm.tagSelected=='tag'}">
                                <a href="" ng-repeat="tag in vm.tags" ng-bind="tag.Tag"></a>
                            </div>
                        </div>
                        <div class="comment">
                            <ul class="select-list">
                                <li ng-click="vm.getComments('hot')" ng-class="{'active':vm.reviewSelected=='hot'}">熱門</li>
                                <li ng-click="vm.getComments('createOn')" ng-class="{'active':vm.reviewSelected=='createOn'}">最新</li>
                                <li ng-show="vm.isAuthenticated" ng-click="vm.getComments('myFriend')" ng-class="{'active':vm.reviewSelected=='myFriend'}">我的朋友</li>
                                <li ng-show="vm.isAuthenticated" ng-click="vm.getComments('mine')" ng-class="{'active':vm.reviewSelected=='mine'}">我的</li>
                            </ul>
                            <div class="comment-list">
                                <div class="comment-item" ng-repeat="review in vm.reviews">
                                    <user-avatar data-image-src="/Uploads/UserAvatar/{{review.UserAvatar}}" alt=""></user-avatar>
                                    <div class="comment-content">
                                        <h3>
                                            <a href="#" ng-bind="review.UserNickName"></a>
                                            <span ng-show="review.ViewedOn!==null" ng-bind="' 觀影於 ' + (review.ViewedOn| mcJsLocalDateTime)"></span>
                                            <span ng-show="review.ViewedOn===null" ng-bind="' 寫於 ' + (review.CreateOn| mcJsLocalDateTime)"></span>
                                            <div class="stars">
                                                <span data-rate="{{review.OwnerLinkVideo_Score}}">
                                                </span>
                                                <i ng-class="{true:'icon-heart',false:'icon-heart2'}[review.OwnerLinkVideo_IsLiked]"></i>
                                            </div>
                                        </h3>
                                        <p>
                                            <span ng-bind="(review.Review | characters:48 :true)"></span>
                                            <a class="green" ng-href="/mobile/review/{{review.ReviewId}}">【全文】</a>
                                        </p>
                                        <ul class="comment-shar paTHalfX">
                                            <li><a ng-href="/mobile/review/{{review.ReviewId}}?response=true"><i class="icon-bubble"></i> (<span ng-bind="review.MessageNum"></span>)</a></li>
                                            <li ng-show="vm.isAuthenticated">
                                                <a href="" ng-click="vm.activingReview($index,'Like')" style="vertical-align: text-bottom;">
                                                    <i class="icon-love" ng-class="{'active':review.IsLiked}"></i> (<span ng-bind="review.LikedNum"></span>)
                                                </a>
                                            </li>
                                            <li ng-click="vm.shareReview($index)">
                                                <a href=""><i class="icon-share" ng-class="{'active':review.IsShared}"></i> (<span ng-bind="review.SharedNum"></span>)</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="icon-users"></i> (<span ng-bind="review.PageViews"></span>)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </section>
                <!-- 彈出視窗 -->

                <!-- 寫影評 -->
                <!--<div id="writeCom" class="popTo ng-hide" ng-show="vm.showReviewWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showReviewWindow=false"><i class="icon-close"></i></div>
                        <fieldset class="fieldset">
                            <div class="formInput">
                                <label for="" style="text-align: left; width: 25%;">我看過：</label>
                                <p class="fa-1.5x" style="width: 75%" ng-bind="vm.movie.Name"></p>
                            </div>
                            <div class="formInput">
                                <label for="comment" style="text-align: left;">影評：</label>
                                <p></p>
                            </div>
                            <div class="formInput">
                                <textarea name="comment" id="comment" cols="30" rows="5" style="width: 97%;" required ng-model="vm.makeReview.review" ng-bind="vm.makeReview.review"></textarea>
                            </div>
                            <div class="formInput">
                                <label for="date">觀影日期：</label>
                                <p>
                                    <input name="date" type="checkbox" id="date" ng-model="vm.hasReviewDate" ng-click="vm.initialViewOn()">
                                    <input name="date" type="date" id="date" ng-model="vm.makeReview.viewedOn" ng-disabled="!vm.hasReviewDate" max="2017-06-12">
                                </p>
                            </div>
                            <div class="formInput">
                                <div class="starW maClean">
                                    <div class="starAll taLeft">
                                        <raty score="makeReview.score"></raty>
                                    </div>
                                    <i class="fRight taLeft lh15 heart" ng-class="{true:'icon-heart',false:'icon-heart2'}[vm.makeReview.isLiked]" ng-click="vm.makeReview.isLiked=!vm.makeReview.isLiked"></i>
                                </div>
                            </div>
                            <div class="formInput">
                                <button class="btn-default" type="button" ng-click="vm.addReview()">確定</button>
                            </div>
                        </fieldset>
                    </div>
                </div>-->

                <!-- 其他按鈕 -->
                <!--<div id="ortherBtn" class="popTo ng-hide" ng-show="vm.showOtherWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showOtherWindow=false"><i class="icon-close"></i></div>
                        <ul class="popMenu">
                            <li ng-click="vm.showReviewWindow=true;vm.showOtherWindow=false"><a href="#"><i class="icon-pencil2"></i>寫影誌</a></li>
                            <li ng-click="vm.showAddTagWindow=true;vm.showOtherWindow=false"><a href="#"><i class="icon-tags"></i>加入標簽</a></li>
                            <li ng-click="vm.showAddTopicWindow=true;vm.showOtherWindow=false"><a href="#"><i class="icon-notebook"></i>加入專題</a></li>
                            <li ng-click="vm.shareMovie('M00000000158105')"><a href="#"><i class="icon-share"></i>分享</a></li>
                        </ul>
                    </div>
                </div>
                <div id="ortherBtn" class="popTo ng-hide" ng-show="vm.showPlayWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showPlayWindow=false"><i class="icon-close"></i></div>
                        <ul class="popMenu" style="width:75%">
                            <li ng-repeat="item in vm.films"><a ng-bind="item.Name" ng-href="{{item.Url}}" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
                <div id="stars" class="popTo ng-hide" ng-show="vm.showRateWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showRateWindow=false"><i class="icon-close"></i></div>
                        <div class="starW">
                            <div class="starAll">
                                <raty score="ratyScore" ng-click="vm.rateVideo()"></raty>
                            </div>
                            <div class="starNum" ng-bind="(vm.ratyScore * 2)"><span>分</span></div>
                        </div>
                    </div>
                </div>
                <div id="addTag" class="popTo" ng-show="vm.showAddTopicWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showAddTopicWindow=false"><i class="icon-close"></i></div>
                        <form action="">
                            <fieldset class="fieldset">
                                <div class="formInput">
                                    <h2 class="gray-w fz-m">{{vm.movie.Name}}</h2>
                                </div>
                                <div class="formInput">
                                    <h4 class="gray-a fz-xs">點選加入到我的專題，再點選即可取消加入</h4>
                                </div>
                                <ul class="popMenu club-select pT10 w100">
                                    <li ng-repeat="item in vm.userTopic" ng-class="{'active':item.IsExisted=='1'}" ng-click="vm.toggleToUserTopic(item)">
                                        <a href="###">
                                            {{item.TopicName}}
                                            <span ng-show="!item.IsPublish">(未發佈)</span>
                                        </a>
                                    </li>
                                </ul>
                                <br />
                                <br />
                                <h3 class="">開始一個新專題</h3>
                                <div class="addTag">
                                    <input ng-model="vm.newTopicName" class="fLeft" type="text"><button ng-click="vm.addNewTopic()" class="btn-s-default">新增</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>-->

                <!-- 加標簽 -->
                <!--<div id="addTag" class="popTo ng-hide" ng-show="vm.showAddTagWindow">
                    <div class="popwrap">
                        <div class="popclose" ng-click="vm.showAddTagWindow=false">
                            <i class="icon-close"></i>
                        </div>
                        <fieldset class="fieldset" style="max-height:75vh;overflow:auto">
                            <div class="formInput">
                                <h2 class="gray-w fz-m">{{vm.movie.Name}}</h2><br />
                                <h3 class="">標記的電影標籤</h3>
                                <div class="tab-Content active">
                                    <a ng-repeat="item in vm.myTagsInVideo">
                                        {{item.Tag}}&nbsp;
                                        <i class="fa fa-times fire" ng-click="vm.removeTagByName($index)"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="formInput">
                                <h3 class="green">新增標簽</h3>
                                <div class="addTag">
                                    <input class="fLeft" type="text" ng-model="vm.newTag"><button class="btn-s-default" type="button" ng-click="vm.addNewTag()" >確認</button>
                                </div>
                            </div>
                            <div class="formInput">
                                <h3 class="green maB1x paB1x borderBG">我的標簽</h3>
                                <div class="tab-Content active">
                                    <a ng-repeat="item in vm.myTags" ng-click="vm.addTagByName(item.Tag)">{{item.Tag}}</a>
                                </div>
                            </div>
                            <div class="formInput">
                                <h3 class="green maB1x paB1x borderBG">常用標簽</h3>
                                <div class="tab-Content active">
                                    <a ng-repeat="item in vm.hotTags" ng-click="vm.addTagByName(item.Tag)">{{item.Tag}}</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>-->
            </div>

            <!--<div class="loading-ajax" ng-show="main.loadingStatus()">
                <i class="fa fa-spinner fa-pulse fa-4x green"></i>
            </div>
            <div class="top"></div>-->
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script defer src='http://test.moviecaker.com/scripts/angular/angular.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.factory.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/ngTouch/ng-touch.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/sortable/ng-sortable.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/infiniteScroll/ng-infinite-scroll.min.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/app.mobile.module.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/services/filter.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/services/service.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/multi-search.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/topic-video-search.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/star-rating.directive.js'></script>
<script defer src='http://test.moviecaker.com/scripts/angular/components/all.directive.js'></script>

<script defer src="http://test.moviecaker.com/scripts/angular/controllers/mobile/layout.ctrl.js?v=20161209"></script>
<script defer src="http://test.moviecaker.com/Scripts/angular/controllers/mobile/video-intro.ctrl.js"></script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>
    wx.config({
        debug: false, 
        appId: 'wx3069e676ab7765a2', 
        timestamp: '1497234030', 
        nonceStr: 'C4B31CE7D95C75CA70D50C19AEF08BF1', 
        signature: '1c078c6e4b2efdf1cdba40fde2498118b5ec634b', 
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
        ] 
    });

    wx.error(function (res) {
        console.log(res);
        console.log('验证失败');
    });
</script>

<script>
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: '《海邊的曼徹斯特》電影來自 MovieCaker', // 分享标题
            link: 'http://test.moviecaker.com/mobile/video/M00000000158105', // 分享链接
            imgUrl: 'http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg?width=300', // 分享图标
            //success: function () {
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () {
            //    // 用户取消分享后执行的回调函数
            //}
        });

        wx.onMenuShareAppMessage({
            title: '《海邊的曼徹斯特》電影來自 MovieCaker', // 分享标题
            desc: '由于哥哥乔（凯勒&#183;钱德勒）过世，看门人李&#183;钱德勒（凯西&#183;阿弗莱克）成为他16岁的侄子帕特里克（卢卡斯&#183;赫奇斯）的法定监护人，李的生活从此发生彻底的改变，他不得不回到家乡的小城市（曼彻斯特），面对与前妻Randi（米歇尔&#183;威廉姆斯）之间的痛苦问题。', // 分享描述
            link: 'http://test.moviecaker.com/mobile/video/M00000000158105', // 分享链接
            imgUrl: 'http://121.41.34.59/Content/pictures/files/M1660937_posters.jpg?width=300', // 分享图标
            type: '', 
            dataUrl: '', 
            //success: function () {
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () {
            //    // 用户取消分享后执行的回调函数
            //}
        });
    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68883772-1', 'auto');
    ga('send', 'pageview');
</script>

<script>
    $(document).ready(function(){
        // 測試搜尋樣式，不是真的搜尋功能
        $( function() {
            var availableTags = [
                "美女與野獸 Beauty and the Beast (2017)",
                "小太陽的願望 Little Miss Sunshine (2006)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "美女與野獸 Beauty and the Beast (2017)",
                "小太陽的願望 Little Miss Sunshine (2006)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                "醜女大翻身 200 Pounds Beauty (2006)","醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "美女與野獸 Beauty and the Beast (2017)",
                "小太陽的願望 Little Miss Sunshine (2006)",
                "醜女大翻身 200 Pounds Beauty (2006)",
                "野獸情人 Beastly (2011)",
                "玩美女人 Volver (2006)",
                "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                "醜女大翻身 200 Pounds Beauty (2006)"
            ];
            $( "#search-input" ).autocomplete({
                source: availableTags,
                appendTo: "#search-autocomplete",
                open: function(){
                    $('.more').addClass("searching"); // 有搜尋結果再出現”更多搜尋“按鈕
                },
                close: function(){
                    $('.more').removeClass("searching"); // 沒有搜尋結果不出現”更多搜尋“按鈕
                }
            });
        });

        // 首頁點擊搜尋的動態效果
        $('#search-icon').on("click", function(){
            window.scrollBy(0, 1); // 讓鍵盤出現時頁面不會被推上去
            $('.search-area').addClass("searching");
            $('.btn-close').addClass("searching");
            $('.search-keyword').addClass("searching");
        });
        // 點擊叉按鈕關閉搜尋
        $('.btn-close').on("click", function(){
            $('.search-area').removeClass("searching");
            $('.btn-close').removeClass("searching");
            $('.search-keyword').removeClass("searching");
        });
    });
</script>

</body>
</html>
