
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>影評：真愛每一天</title>
    <meta name="description" content="本劇一開始是男女主角的愛情感動到我，可是看到最後，卻是父子親情深刻在我心裡。男主角無數次地穿越時空，去改變人生的不美好，但最後在父親過世後他不再穿越時空，因為他悟到：「我們一起度過的每一天，其實都是時..." />
    <link rel="canonical" href="http://test.moviecaker.com/review/1485">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="../entire_css/common.css" rel="stylesheet" />
    <link href="css/reviews.css" rel="stylesheet" />
    <link href="../entire_css/min-search.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://test.moviecaker.com/Content/mobile/icomoon/style.min.css" rel="stylesheet" />
</head>
<body ng-controller="MainCtrl as main">
    <!--<div ng-hide="main.appReady">
        <div class="loader">Loading...</div>
    </div>-->
    <div ng-show="main.appReady" ng-init="main.init('805159066237146','4036480982','101224571')" class="ng-cloak" ng-cloak>
        <!-- search area -->
        <div class="search-area group-wrap">
            <form> 
                <button class="btn-close group-wrap" type="reset">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <div class="search-keyword ui">
                    <i class="fa fa-search fa-lg pull-left" aria-hidden="true"></i>
                    <input id="search-input" class="pull-left" type="search" name="" value="" placeholder="尋找電影..." ng-model="main.searchText" ng-bind="main.searchText" multi-search/>
                </div>
            </form>
            <div id="search-autocomplete"></div>
            <a href="#" class="more pull-right"><i class="fa fa-angle-right padR1x" aria-hidden="true"></i>更多搜尋結果</a>
        </div>
        
        <!-- header -->
        <div class="header" ng-class="{ blur: main.screenStatus() }">
            <ul class="group-wrap header-items" ng-show="!main.isSearchMode">
                <li id="logo" class="pull-left">
                    <a href="/mobile" class="padT3 group-wrap">
                        <img class="pull-left" src="http://test.moviecaker.com/Areas/Mobile/Images/logo.png" height="25" alt="MovieCaker" />
                        <i class="fa fa-bars maL1x padT3 pull-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li id="user-icon" class="pull-right">
                    <a href="/login" ng-click="main.MenuLogin()">
                        <div class="login-icon padTBHalfX maLHalfx">
                            <img src="img/login_icon.png"alt="">
                        </div>
                    </a>
                    <!-- 登入後顯示 -->
                    <a href="#" style="display:none;">
                        <div class="circle-mask circle1x">
                            <img src="img/default_avatar.png" alt="">
                        </div>
                    </a>
                </li>
                <li id="search-icon" class="pull-right maR1x">
                    <i class="fa fa-search padTBHalfX" aria-hidden="true"></i>
                </li>
            </ul>
        </div>

        <!--<div class="popTo" ng-show="main.screenStatus()" style="background-color: rgba(0,0,0,.3);z-index:99999999">
            <div class="loader">Loading...</div>
        </div> -->
        
        <div ng-class="{ blur: main.screenStatus() }">            
            <div ng-controller="ReviewDetailsCtrl as vm" ng-init="vm.init('M00000000088380','1485','')">
                <!-- fixed background -->
                <div class="bkgd-img">
                    <!--<movie-poster ng-if="main.appReady" poster-path="http://121.41.34.59/Content/pictures/files/M1335086_posters.jpg"></movie-poster>-->
                    <img src="img/beauty.png" alt="">
                </div>

                 <!--回應匡 (只有登入後才會出現) -->
                <div class="sticky sticky-bottom typeReply">
                    <form action="" method="post">
                        <ul class="addComment group-wrap">
                            <li class="pull-left">
                                <div class="circle-mask circle1x">
                                    <img src="img/default_avatar.png" alt="">
                                    <!--<img ng-src="/Uploads/UserAvatar/{{vm.currentUser.Avatar}}" alt="" user-avatar />-->
                                </div>
                            </li>
                            <li class="pull-right">
                                <button class="btn-post" type="button" ng-click="vm.replyToVideoReview('')">發表</button>
                            </li>
                            <li>
                                <textarea name="replyto" id="replysend" rows="1" class="addComment-text typeReply" placeholder="回應..." ng-model="vm.replyMessage" show-focus="response"></textarea>
                            </li>
                        </ul>
                    </form>
                </div>

                <!-- MAIN CONTENT -->
                <div class="content-wrap">
                    <section class="movieInfo">
                        <div class="section-title fz-subtitle fontW-normal text-blue"><span class="fz-m fontW-bold">Rich</span> 的影評</div>
                        <article class="padLR10 maT2x">
                            <a href="#" class="avatar-large avatar-pos-right circle4x">
                                <div class="circle-mask circle100 rel-pos">
                                    <!--<user-avatar data-image-src="/Uploads/UserAvatar/user_164.jpg"></user-avatar>-->
                                     <!-- <img src="img/default_avatar.png" alt="">     -->
                                    <!-- <img src="img/user.jpg" alt="">  -->
                                     <img src="img/default_avatar1.png" alt="">    

                                    <!-- 是不是朋友 - 登入後才會顯示 -->
                                    <div ng-show="vm.currentUser.isAuthenticated">
                                        <div class="text-blue-friend btn-friendOption bkgd-light-grey " ng-show="vm.isFriend && vm.review.UserId!=vm.currentUser.Id"><i class="fa fa-check" aria-hidden="true"></i> 朋友</div>
                                        <div class="text-black btn-friendOption bkgd-light-grey ng-hide"><i class="fa fa-clock-o" aria-hidden="true"></i> 待確認</div>
                                        <div class="text-white btn-friendOption bkgd-grey ng-hide" ng-show="!vm.isFriend && vm.review.UserId!=vm.currentUser.Id"><i class="fa fa-user-plus" aria-hidden="true"></i> 加朋友</div>
                                        <div class="text-green btn-friendOption bkgd-light-grey ng-hide" ng-show="!vm.isFriend && vm.review.UserId!=vm.currentUser.Id"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 接受邀請</div>
                                    </div> 
                                </div>
                            </a>

                            <section>
                                <h2 class="fz-m text-white"><a href="/mobile/video/M00000000088380" class="text-white fontW-bold">美女與野獸</a></h2>
                                <h3 class="fz-subtitle maTHalf1x text-white fontW-bold">Beauty and the Beast</h3>
                                <div class="group-wrap maT1x">
                                    <div class="group-wrap hasColor pull-left width50p">
                                        <span class="stars pull-left fz-subtitle">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                        <!--<span class="stars pull-left fz-subtitle" data-rate="{{review.OwnerLinkVideo_Score}}">
                                            <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                            <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                            <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                            <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                            <i class="fa fa-star ng-scope" ng-repeat="i in getNumber(roundNumber(rate)) track by $index" ng-if="($index+1) % 2 === 0"></i>
                                        </span>-->
                                        <i class="fa fa-heart maL10p maT4 pull-left" ng-class="{true:'fa-heart',false:'fa-heart-o'}[ vm.review.IsLiked ]"></i>
                                    </div>
                                    <a href="/mobile/video/M00000000088380" class="pull-right text-light-blue fz-s"><i class="fa fa-angle-right padRHalfX fz-subtitle" aria-hidden="true"></i> 電影介紹頁</a>
                                </div>
                            </section>

                            <div class="btn-wrap maT2x">
                                <div class="btn-playMovie" ng-click="vm.displayPlayWindow()" ng-class="{'active':vm.films.length===0}">
                                    <i class="fa fa-play-circle-o" aria-hidden="true"></i><span class="maLHalfx">在線看</span>
                                </div>
                                <!-- ul addClass show 會出現-->
                                <ul class="play-movie-selection"> 
                                    <li><a href="#">騰訊視頻</a></li>
                                    <li><a href="#">優酷視頻</a></li>
                                    <li><a href="#">搜狐視頻</a></li>
                                </ul>
                            </div>

                            <section class="maT2x reviewContent divider-line">
                                <p class="fz-xs text-white60p taR letter-space-1x maT1x" ng-show="review.ViewedOn!==null" ng-bind="(review.ViewedOn| mcJsLocalDateTime)">寫於 2017/03/21</p>
                                <div class="maT1x text-white80p fz-15 content-preline">被遮蔽的雙眼，你因而選擇了盲目？還是用心？

                                    居然引用莎士比亞的話『love looks not with the eyes but with the mind and therefore is winged cupid painted blind 』愛不是用眼睛判斷，而是用心。因此愛神常常被描繪成遮蔽了雙眼

                                    愛情是盲目的？別會錯意了。那是因為愛情要用心，而不是雙眼。

                                    兩個人心靈相通，喜歡的事物一樣，真的也很重要。一邊吃飯一邊看書很可愛。而且野獸是真正願意傾聽貝兒那天馬行空的幻想，以及願意聽她讀著書，感受那書中世界。心靈相通和共鳴，是貝兒愛上野獸的關鍵。那才是對的頻率造成的共鳴啊！
                                </div>
                                <!-- ul li addClass active 變色 -->
                                <ul class="reaction-stats maT2x">
                                    <li class="review-heart" ng-class="{'active':review.IsLiked}">
                                        <i class="fa fa-heart" ng-class="{'active':review.IsLiked}" aria-hidden="true"></i> <span ng-bind="vm.likeReview.Count">4</span>
                                    </li>
                                    <li class="review-comment">
                                        <i class="fa fa-comment" aria-hidden="true"></i> <span ng-bind="vm.reviewMessages.length">5</span>
                                    </li>
                                    <li class="review-share" ng-class="{'active':review.IsShared}">
                                        <i class="fa fa-share-alt"  aria-hidden="true"></i> <span ng-bind="vm.shareReview.Count">2</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-users" aria-hidden="true"></i> <span ng-bind="vm.pageView">10</span>
                                    </li>
                                </ul>
                            </section>

                            <div class="btn-wrap maT2x group-wrap like-share-wrap">
                                <!-- 編輯影評只有作者到自己的影評時才會出現，其他時候都是喜歡影評 -->
                                <div class="btn-like-share pull-left bkgd-blue fz-15 btn-selfEdit" style="display: none;" ng-click="vm.reviewshowReviewWindow=true">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> 編輯影評
                                </div>
                                <!-- btn-like addClass active 會換色 -->
                                <div class="btn-like-share pull-left bkgd-white fz-15 btn-like" ng-click="vm.activing('Like')">
                                    <i class="fa fa-heart" ng-class="{'active':vm.likeReview.IsOnAction}"></i> 喜歡影評
                                </div>
                                <div id="btn-share-review" class="btn-like-share pull-right bkgd-white fz-15 btn-sharing" ng-click="vm.shareVideoReview('1485')">
                                    <i class="fa fa-share-alt" ng-class="{'active':vm.shareReview.IsOnAction}"></i> 分享影評
                                </div>
                            </div>

                            <div id="shareTo" class="share-wrap short fixed" ng-show="main.showShareWindow" ng-class="{ blur: main.screenStatus() }" style="display: none;">
                                <ul class="share-btn short group-wrap pad0">
                                    <li>
                                        <a href="#" class="btn-social-share circle40 btn-wechat" name="provider" value="WeChat" title="使用 微信 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'WX')">
                                            <i class="fa fa-weixin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social-share circle40 btn-fb" name="provider" value="Facebook" title="使用 Facebook 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'FB')">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social-share circle40 btn-weibo" name="provider" value="Weibo" title="使用 新浪微博 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'WB')">
                                            <i class="fa fa-weibo" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social-share circle40 btn-qq" name="provider" value="QQ" title="使用 QQ 帳戶登入" ng-click="main.shareToThirdParty(main.shareId,main.shareType,'QQ')">
                                            <i class="fa fa-qq" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="text-white60p fz-m" ng-click="main.showShareWindow=false"><i class="fa fa-times" aria-hidden="true"></i></li>
                                </ul>
                                <!-- 加上 class showAlert 會出現 -->
                                <div class="weixin-alert align-bottom group-wrap top-alert short-alert showAlert">
                                    <p class="text-blue fz-normal"><i class="fa fa-weixin" aria-hidden="true"></i> 微信分享小叮嚀</p>
                                    <p class="maT4 text-white80p fz-s">目前暫時還沒有直接分享到微信朋友圈的功能，請點選您手機<span class="text-blue">右上角三個點</span>選項中的分享功能就可以分享到微信。</p>
                                    <button class="btn-weixinAlert pull-right bkgd-pink maL1x maT1x">不用再提醒</button>
                                    <button class="btn-weixinAlert pull-right bkgd-blue maT1x">下次再提醒</button>
                                </div>
                            </div>
                        </article>
                    </section>

                    <section class="author-other-review nextSection maT30p">
                        <div class="section-title fz-subtitle text-blue"><span>Rich</span> 的其他影評</div>
                        <article class="padLR10 maT2x">
                            <!-- 這邊開始 repeat 3 個 -->
                            <a href="#" class="other-review-item padTB1x group-wrap">
                                <div class="circle-mask circle40 pull-left maT15">
                                    <img src="img/default_avatar.png" alt="">
                                    <!--<user-avatar data-image-src="/Uploads/UserAvatar/{{review.UserAvatar}}" alt=""></user-avatar>-->
                                </div>
                                <div class="other-review-details pull-right">
                                    <span class="text-light-blue fz-s" ng-bind="review.UserNickName">評：MOVIE's TITLE</span>
                                    <p class="text-white80p fz-s line-clamp clamp-2" ng-bind="(review.Review | characters:89 :true)">
                                        我心目中的奧斯卡最佳男主角，凱西艾佛列克，他本身陰鬱又略帶我們的過去與未來的經歷，只為了能在這一刻與你相遇，就是『今天』的現在
                                    </p>
                                </div>
                            </a>
                            <a href="#" class="other-review-item padTB1x group-wrap">
                                <div class="circle-mask circle40 pull-left maT15">
                                    <img src="img/default_avatar.png" alt="">
                                    <!--<user-avatar data-image-src="/Uploads/UserAvatar/{{review.UserAvatar}}" alt=""></user-avatar>-->
                                </div>
                                <div class="other-review-details pull-right">
                                    <span class="text-light-blue fz-s" ng-bind="review.UserNickName">評：MOVIE's TITLE</span>
                                    <p class="text-white80p fz-s line-clamp clamp-2" ng-bind="(review.Review | characters:89 :true)">
                                        我心目中的奧斯卡最佳男主角，凱西艾佛列克，他本身陰鬱又略帶我們的過去與未來的經歷，只為了能在這一刻與你相遇，就是『今天』的現在
                                    </p>
                                </div>
                            </a>
                            <a href="#" class="other-review-item padTB1x group-wrap">
                                <div class="circle-mask circle40 pull-left maT15">
                                    <img src="img/default_avatar.png" alt="">
                                    <!--<user-avatar data-image-src="/Uploads/UserAvatar/{{review.UserAvatar}}" alt=""></user-avatar>-->
                                </div>
                                <div class="other-review-details pull-right">
                                    <span class="text-light-blue fz-s" ng-bind="review.UserNickName">評：MOVIE's TITLE</span>
                                    <p class="text-white80p fz-s line-clamp clamp-2" ng-bind="(review.Review | characters:89 :true)">
                                        我心目中的奧斯卡最佳男主角，凱西艾佛列克，他本身陰鬱又略帶我們的過去與未來的經歷，只為了能在這一刻與你相遇，就是『今天』的現在
                                    </p>
                                </div>
                            </a>

                            <a href="#" class="viewMore text-light-blue fz-s maT15">全部 <span>24</span> 則影評</a>
                        </article>
                    </section>

                    <section class="author-comments maT13p">
                        <div class="section-title fz-subtitle text-blue">回應</div>
                        <article class="padLR10 maT2x">
                            <ul class="comment-list" ng-show="vm.reviewMessages.length > 0">
                                    <!--ngRepeat: reviewMessage in vm.reviewMessages -->
                                <li class="ng-scope" ng-hide="!vm.displayAllMessage &amp;&amp; $index >= 2">
                                    <div class="comment-item">
                                        <div class="circle-mask circle40 pull-left">
                                            <img src="img/default_avatar.png" alt="">
                                        <!--<img lazy-load="" alt="" data-original="http://www.moviecaker.com/uploads/userAvatar/QeBatjuUika9olFeksuy.jpg?width=30&amp;height=30&amp;stretch=fill" onerror="this.src='/Images/nobody.jpg?width=30&amp;height=30&amp;stretch=fill'" data-image-src="http://www.moviecaker.com/uploads/userAvatar/QeBatjuUika9olFeksuy.jpg" class="ng-isolate-scope" src="http://www.moviecaker.com/uploads/userAvatar/QeBatjuUika9olFeksuy.jpg?width=30&amp;height=30&amp;stretch=fill">-->
                                        </div>
                                        <div class="comment-info pull-left maL1x">
                                            <a href="#" class="fz-normal text-light-blue" ng-bind="reviewMessage.NickName">COMMENTer's NAME</a><br>
                                            <span class="fz-s text-gray ng-binding" ng-bind="(reviewMessage.CreateOn| jsonUtcDateToLocal)">2013/04/06 05:17</span>
                                            <p class="fz-s text-white60p taR likeComment" ng-class="{'text-pink':reviewMessage.IsLiked, 'text-white60p': !reviewMessage.IsLiked}" ng-click="vm.likeThisReply(reviewMessage)"><i class="fa fa-heart"></i> 0</p>
                                        </div>
                                        <p class="comment-content maL50 maTHalf1x ng-binding" ng-bind="reviewMessage.Message">酷喔!!!!!!!!!!!!!</p>
                                    </div>
                                    <!-- ngRepeat: replyReview in reviewMessage.ReplyReviewMessage -->
                                    <div class="reply-item maL50 ng-scope">
                                        <div class="circle-mask circle1x pull-left">
                                            <img src="img/default_avatar.png" alt="">
                                        <!--<img lazy-load="" alt="" data-original="http://www.moviecaker.com/uploads/userAvatar/QeBatjuUika9olFeksuy.jpg?width=30&amp;height=30&amp;stretch=fill" onerror="this.src='/Images/nobody.jpg?width=30&amp;height=30&amp;stretch=fill'" data-image-src="http://www.moviecaker.com/uploads/userAvatar/QeBatjuUika9olFeksuy.jpg" class="ng-isolate-scope" src="http://www.moviecaker.com/uploads/userAvatar/QeBatjuUika9olFeksuy.jpg?width=30&amp;height=30&amp;stretch=fill">-->
                                        </div>
                                        <div class="reply-info pull-left maL1x">
                                            <a href="#" class="fz-s text-light-blue" ng-bind="replyReview.NickName">REPLYer's NAME</a><br>
                                            <span class="fz-xs text-gray ng-binding" ng-bind="(replyReview.CreateOn| jsonUtcDateToLocal)">2013/04/06 05:17</span>
                                            <p class="fz-s text-white60p taR likeReply" ng-class="{'text-pink':reviewMessage.IsLiked, 'text-white60p': !reviewMessage.IsLiked}" ng-click="vm.likeThisReply(reviewMessage)"><i class="fa fa-heart"></i> 0</p>
                                        </div>
                                        <p class="comment-content maL40 maTHalf1x ng-binding" ng-bind="replyReview.Message">有夠霹靂酷</p>
                                    </div>
                                    <!-- end ngRepeat: replyReview in reviewMessage.ReplyReviewMessage -->
                                </li>
                                <!-- end ngRepeat: reviewMessage in vm.reviewMessages -->
                            </ul>
                            <div class="seeMore maT3x" ng-click="vm.seeMore()">
                                <span ng-hide="vm.displayAllMessage" ng-click="vm.displayAllMessage=!vm.displayAllMessage">顯示全部 <span>5</span> 則回應 <i class="fa fa-angle-down"></i></span>
                                <span ng-hide="!vm.displayAllMessage" ng-click="vm.displayAllMessage=!vm.displayAllMessage">隱藏回應 <i class="fa fa-angle-up"></i></span>
                            </div>
                        </article>
                    </section>
                </div>

                <!-- 修改自己的 review -->
                <div id="writeCom" class="popTo write-edit-review ng-hide" ng-show="vm.showReviewWindow">
                    <ul class="pop-nav group-wrap">
                        <li class="pull-left" ng-click="vm.showReviewWindow=false">
                            <button class="btn-cancel fz-s" type="button">取消</button>
                        </li>
                        <li class="pull-right" ng-click="vm.editReview()">
                            <button class="btn-done fz-s" type="button">完成</button>
                        </li>
                        <li class="title">寫影誌</li>
                    </ul>
                    <div class="popwrap">
                        <fieldset class="fieldset">
                            <div class="text-white divider-line">
                                <span class="fz-s text-white60p fontW-normal">我看過</span><br>
                                <span class="fz-subtitle fontW-bold text-white" ng-bind="vm.movie.Name">美女與野獸</span><br>
                                <span class="fz-subtitle text-white" ng-bind="vm.movie.Name">Beauty and the Beast</span>
                                （ <span class="fz-subtitle text-white" ng-bind="vm.movie.Year">2017</span> ）
                            </div>
                            <div class="maT2x group-wrap">
                                <div class="pull-left">
                                    <span class="fz-s text-white60p">評分電影</span><br />
                                    <div class="starRating fz-lg">
                                        <raty score="vm.review.ChangeScore">
                                            <i ng-repeat="star in stars" class="icon-star" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="icon-star" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="icon-star" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="icon-star" ng-click="setScope($index)"></i>
                                            <i ng-repeat="star in stars" class="icon-star" ng-click="setScope($index)"></i>
                                        </raty>
                                    </div>
                                </div>
                                <div class="pull-right taR hasColor">
                                    <span class="fz-s text-white60p">喜歡電影</span><br />
                                    <i class="fa fa-heart-o fz-lg" ng-class="{true:'fa-heart',false:'fa-heart-o'}[vm.makeReview.isLiked]" ng-click="vm.review.IsLiked=!vm.review.IsLiked"></i>
                                </div>
                            </div>
                            <div class="divider-line maT15 line-adjust">
                                <div class="group-wrap">
                                    <label for="date" class="fz-s text-white60p pull-left">觀影日期</label>
                                    <div class="pull-left maL14">
                                        <input name="date" type="checkbox" id="date" ng-model="vm.hasReviewDate" ng-click="vm.initialViewOn()">
                                        <input class="maL1x" name="date" type="date" id="date" ng-model="vm.makeReview.viewedOn" ng-disabled="!vm.hasReviewDate" max="2017-06-12" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="maT3x">
                                <textarea class="reviewContent" name="comment" id="comment" required ng-model="vm.review.Review" ng-bind="vm.review.Review"></textarea>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <!--<div class="loading-ajax" ng-show="main.loadingStatus()">
                <i class="fa fa-spinner fa-pulse fa-4x green"></i>
            </div>-->

            <div class="top circle40">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </div> 
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!--<script defer src='http://test.moviecaker.com/Scripts/jquery-1.8.3.min.js'></script>-->
    <!--<script defer src='http://test.moviecaker.com/Scripts/jquery-ui-1.10.3.min.js'></script>-->
    <script defer src='http://test.moviecaker.com/Scripts/jquery/jquery.ui.touch-punch.min.js'></script>
    <script defer src='http://test.moviecaker.com/Scripts/jquery/jquery.lazyload.min.js'></script>
    <script defer src='http://test.moviecaker.com/Scripts/jquery/jquery.cookie.js'></script>
    <script defer src='http://test.moviecaker.com/Scripts/moment/moment.min.js'></script>
    <script defer src='http://test.moviecaker.com/Scripts/mobile/main.js'></script>

    <script defer src='http://test.moviecaker.com/scripts/angular/angular.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.factory.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/cssPreload/cssPreload.directive.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/ngTouch/ng-touch.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/sortable/ng-sortable.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/infiniteScroll/ng-infinite-scroll.min.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/app.mobile.module.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/services/filter.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/services/service.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/multi-search.directive.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/topic-video-search.directive.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/star-rating.directive.js'></script>
    <script defer src='http://test.moviecaker.com/scripts/angular/components/all.directive.js'></script>

    <script defer src="http://test.moviecaker.com/scripts/angular/controllers/mobile/layout.ctrl.js?v=20161209"></script>
    <script defer src="http://test.moviecaker.com/scripts/angular/controllers/mobile/review-details.ctrl.js"></script>
    
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        wx.config({
            debug: false, 
            appId: 'wx3069e676ab7765a2', 
            timestamp: '1497951014', 
            nonceStr: '28DD2C7955CE926456240B2FF0100BDE', 
            signature: 'd5247e1ab19da71b13b039c42fb0cddd85bba43a', 
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
            ] 
        });

        wx.error(function (res) {
            console.log(res);
            console.log('验证失败');
        });
    </script>

    <script>
        wx.ready(function () {
            wx.onMenuShareTimeline({
                title: '《真愛每一天》影評來自 MovieCaker 的' + '享看電影', // 分享标题
                link: 'http://test.moviecaker.com/mobile/review/1485', // 分享链接
                imgUrl: 'http://121.41.34.59/Content/pictures/files/M1335086_posters.jpg?width=300', // 分享图标
                //success: function () {
                //    // 用户确认分享后执行的回调函数
                //},
                //cancel: function () {
                //    // 用户取消分享后执行的回调函数
                //}
            });

            wx.onMenuShareAppMessage({
                title: '《真愛每一天》影評來自 MovieCaker 的' + '享看電影', // 分享标题
                desc: '本劇一開始是男女主角的愛情感動到我，可是看到最後，卻是父子親情深刻在我心裡。男主角無數次地穿越時空，去改變人生的不美好，但最後在父親過世後他不再穿越時空，因為他悟到：「我們一起度過的每一天，其實都是時光中的旅行。我們能做的，就是盡其所能好好地去品味珍惜這不凡的人生旅程。」劇情中，有段女主角央求男主角要生第三個小孩的喬段，讓我慧心一笑，女主角說：「我們只有二個小孩太少了」，男主角說：「我們已經比中國家庭多生了一個孩子」，女主角說：「如果我們兩個小孩中有一個比較聰明，另一個就會變成笨蛋，兩個小孩都會不開心，若有三個小孩，就會變成是二個笨蛋，比較不會困擾...」（好可愛的理由）。電影裡的每一首插曲，簡簡單單如此耐聽，決定把原聲帶收藏起來。', // 分享描述
                link: 'http://test.moviecaker.com/mobile/review/1485', // 分享链接
                imgUrl: 'http://121.41.34.59/Content/pictures/files/M1335086_posters.jpg?width=300', // 分享图标
                type: '', 
                dataUrl: '', 
                //success: function () {
                //    // 用户确认分享后执行的回调函数
                //},
                //cancel: function () {
                //    // 用户取消分享后执行的回调函数
                //}
            });
        });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68883772-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script>
        $(document).ready(function(){
            // 測試搜尋樣式，不是真的搜尋功能
            $( function() {
                var availableTags = [
                    "美女與野獸 Beauty and the Beast (2017)",
                    "小太陽的願望 Little Miss Sunshine (2006)",
                    "醜女大翻身 200 Pounds Beauty (2006)",
                    "野獸情人 Beastly (2011)",
                    "玩美女人 Volver (2006)",
                    "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                    "醜女大翻身 200 Pounds Beauty (2006)",
                    "野獸情人 Beastly (2011)",
                    "玩美女人 Volver (2006)",
                    "美女與野獸 Beauty and the Beast (2017)",
                    "小太陽的願望 Little Miss Sunshine (2006)",
                    "醜女大翻身 200 Pounds Beauty (2006)",
                    "野獸情人 Beastly (2011)",
                    "玩美女人 Volver (2006)",
                    "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                    "醜女大翻身 200 Pounds Beauty (2006)","醜女大翻身 200 Pounds Beauty (2006)",
                    "野獸情人 Beastly (2011)",
                    "玩美女人 Volver (2006)",
                    "美女與野獸 Beauty and the Beast (2017)",
                    "小太陽的願望 Little Miss Sunshine (2006)",
                    "醜女大翻身 200 Pounds Beauty (2006)",
                    "野獸情人 Beastly (2011)",
                    "玩美女人 Volver (2006)",
                    "神鬼驚奇：古生物復活 The Extraordinary Adventures of Adele Blanc-Sec (2010)",
                    "醜女大翻身 200 Pounds Beauty (2006)"
                ];
                $( "#search-input" ).autocomplete({
                    source: availableTags,
                    appendTo: "#search-autocomplete",
                    open: function(){
                        $('.more').addClass("searching"); // 有搜尋結果再出現”更多搜尋“按鈕
                    },
                    close: function(){
                        $('.more').removeClass("searching"); // 沒有搜尋結果不出現”更多搜尋“按鈕
                    }
                });
            });

            // 點擊搜尋的動態效果
            $('#search-icon').on("click", function(){
                window.scrollBy(0, 1); // 讓鍵盤出現時頁面不會被推上去
                $('.search-area').addClass("searching");
                $('.btn-close').addClass("searching");
                $('.search-keyword').addClass("searching");
            });
            // 點擊叉按鈕關閉搜尋
            $('.btn-close').on("click", function(){
                $('.search-area').removeClass("searching");
                $('.btn-close').removeClass("searching");
                $('.search-keyword').removeClass("searching");
            });

            // 點擊線上看按鈕會出現下拉選單
            $('.btn-playMovie').on('click',function(){
                if ($('.play-movie-selection').hasClass('show')) {
                    $('.play-movie-selection').removeClass('show');
                } else {
                    $('.play-movie-selection').addClass('show');
                }
            });

            // 滑動畫面 會出現黑色底
            $(window).scroll(function() {
                var windowpos = $(window).scrollTop();
                var header = $('.header');
                var likeShare = $('.like-share-wrap');
                var nextSect = $('.nextSection');
                var content = $('.content-wrap');
                var shareToBtns = $('.share-wrap');

                if ( windowpos > 0 ) {
                    header.addClass('scroll');
                    content.addClass('scroll');
                } else {
                    header.removeClass('scroll');
                    content.removeClass('scroll');
                }
                
                // 讓喜歡分享按鈕可以 fixed 住 (影評頁是 850)
                if (windowpos > 850 ) {
                    likeShare.addClass('fixed');
                    header.addClass('hide');
                    nextSect.removeClass('maT13p').addClass('maT30p');
                    shareToBtns.addClass('fixed');
                } else {
                    likeShare.removeClass('fixed');
                    header.removeClass('hide');
                    nextSect.addClass('maT13p').removeClass('maT30p');
                    shareToBtns.removeClass('fixed');
                }
            });

            // 出現分享按鈕
            $('#btn-share-review').on('click', function() {
                $('.share-wrap').css('display','block');
            });
        });
    </script>

</body>
</html>
<!--<link css-preload ng-href='/Content/jquery-ui.css' rel='stylesheet' />
<link css-preload ng-href='/Content/mobile/screen.css' rel='stylesheet' />
<link css-preload ng-href='/Content/mobile/custom.css' rel='stylesheet' />

<link css-preload ng-href="/Content/mobile/font-awesome.min.css" rel="stylesheet" />
<link css-preload ng-href="/Content/mobile/icomoon/style.min.css" rel="stylesheet" />-->