/*@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}*/

/*html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}*/

/*body {
  padding: 10px 0 0 0;
  margin: 0;
  color: #ccc;
  background-color: #272727;
  position: relative;
  font-size: 12px;
  font-family: Arial, "Heiti TC", "Microsoft JhengHei";
}*/

body:after {
  content: "";
  width: 320px;
  height: 1000000px;
  background-repeat: no-repeat;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
}

/*a {
  text-decoration: none;
  color: #fff;
}*/

/*.menu {
  width: 100%;
  height: 2em;
  background: #2E839F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -moz-box-shadow: 0 0 2px #161616;
  -webkit-box-shadow: 0 0 2px #161616;
  box-shadow: 0 0 2px #161616;
  padding: 5px 0;
}
.menu ul#header-items {
  width: 95%;
  margin: 0 auto;
  font-size: 1.2em;
  list-style-type: none;
  padding: 0px;
  clear: both;
}
.menu ul#header-items > li {
  height: 2em;
  float: left;
}
.menu ul#header-items > li .cell-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 2em;
}
.menu ul#header-items > li .cell-container > * {
  vertical-align: middle;
}
.menu ul#header-items > li#main-menu {
  width: 12%;
  max-width: 30px;
}
.menu ul#header-items > li#main-menu .cell-container {
  width: 10%;
  text-align: left;
}
.menu ul#header-items > li#main-menu .cell-container.fa {
  font-size: 1.5em;
}
.menu ul#header-items > li#logo {
  width: 63%;
}
.menu ul#header-items > li#logo .cell-container {
  width: 65%;
  text-align: center;
}
.menu ul#header-items > li#logo .cell-container > img {
  width: 32px;
}
.menu ul#header-items > li#other-operate {
  width: 25%;
  text-align: right;
  max-width: 60px;
  float: right;
  font-size: 1.1em;
}
.menu ul#header-items > li#other-operate .cell-container {
  width: 10%;
  text-align: right;
}
.menu ul#header-items > li#other-operate a.cell-item {
  padding-left: 1em;
}
.menu .logo {
  display: inline-block;
}*/

/*.nav {
  width: 9em;
  position: absolute;
  top: 2em;
  left: -300px;
  background: #444444;
  padding: 6px 0 0 0;
  z-index: 9;
  box-shadow: 1px 0 2px #161616;
  font-size: 0.8em;
  display: block;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
.nav ul.main-menu > li.main-menu-option {
  color: #75bfd7;
  margin-top: 0px;
  padding: 9px 0;
  padding-left: 8px;
  background: #2e839f;
}
.nav ul.main-menu > li.main-menu-option > a {
  display: block;
}
.nav .text {
  display: inline-block;
  height: 20px;
  width: 50px;
  margin-top: -10px;
}
.nav .arrow {
  display: inline-block;
  height: 20px;
  width: 12px;
}
.nav li {
  border-bottom: 1px solid #5e5e5e;
  padding-left: 8px;
}
.nav li a {
  display: block;
  padding: 9px 0;
}*/

.self-pic {
  width: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.runIn {
  left: 0;
}

/*.search-wrap {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 24px;
  zoom: 1;
}*/
/*.search-wrap:before, .search-wrap:after {
  content: "";
  display: table;
}
.search-wrap:after {
  clear: both;
  overflow: hidden;
}*/

/*.search-wrap .search-content {
  border: none;
  background-color: transparent;
  height: 24px;
  width: 70vw;
  float: left;
  color: #fff;
}
.search-wrap .icon-search {
  font-size: 1.2em;
  float: right;
  line-height: 24px;
}

.search-cancle {
  width: 10vw;
  box-sizing: border-box;
  text-align: center;
  line-height: 24px;
}*/

.banner {
  width: 100vw;
  height: 35vw;
  position: relative;
  overflow: hidden;
}
.banner .banner-list {
  position: absolute;
  top: 0;
  left: 0;
}
.banner .banner-list img {
  width: 100vw;
  height: 35vw;
}
.banner .banner-control {
  position: absolute;
  bottom: 5px;
  right: 2vw;
  text-align: center;
}
.banner .banner-control > li {
  width: 3vw;
  height: 3vw;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 1vw;
}
.banner .banner-control > li.active {
  background-color: white;
}

/*.cover {
  width: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
  max-height: 150px;
}
.cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjkwJSIgY3k9IjcwJSIgcj0iNzAlIj48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(90% 70%, rgba(0, 0, 0, 0) 50%, #000000 70%);
  background-image: -webkit-radial-gradient(90% 70%, rgba(0, 0, 0, 0) 50%, #000000 70%);
  background-image: radial-gradient(90% 70%, rgba(0, 0, 0, 0) 50%, #000000 70%);
}
.cover > img {
  width: 100%;
  height: auto;
}
.cover > .myCover {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 3;
  color: #fff;
  padding: 2px 5px;
  background-color: rgba(33, 33, 33, 0.4);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}
.video-cover{
    padding-top: 2em;
}*/

/*.content {
  padding: 10px 10px 10px 10px;
  background-color: #272727;
  margin-bottom: 20px;
}*/

/*.blackTitle {
  line-height: 25px;
}*/

.top {
  background-image: url("/Areas/Mobile/Images/top-01.png");
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}

/*.search-field {
  clear: both;
  width: 98%;
  padding: 8px 2% 0 0%;
  text-align: right;
  height: 2em;
  background: #2E839F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -moz-box-shadow: 0 0 2px #161616;
  -webkit-box-shadow: 0 0 2px #161616;
  box-shadow: 0 0 2px #161616;
  display: none;
}
.search-field [class*="icon-"] {
  padding: 0 5px;
}
.search-field .search {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 78%;
  margin-left: 10px;
}*/

.borderTG {
  border-top: #3bb1cc 1px solid;
}

.borderTB {
  border-top: #333 1px solid;
}

.borderTBD {
  border-top: #161616 1px solid;
}

.borderBG {
  border-bottom: #3bb1cc 1px solid;
}

.borderBB, .edit-movie-select .movieW, .hr, .panel-movie .panel-movie-row li, .reply.panelReset li, .topicsMovie li {
  border-bottom: #333 1px solid;
}

.borderBBD {
  border-bottom: #161616 1px solid;
}

.pa5 {
  padding: 5px;
}

.pT10 {
  padding-top: 10px !important;
}

.maT1x {
  margin-top: 10px;
}

.maB1x {
  margin-bottom: 10px;
}

.paL1x {
  padding-left: 10px;
}

.paR1x {
  padding-right: 10px;
}

.paB1x {
  padding-bottom: 10px;
}

.paT1x {
  padding-top: 10px;
}

.paTHalfX {
  padding-top: 5px;
}

.paBHalfX {
  padding-bottom: 5px;
}

.gapToMenu {
  margin-top: 2em;
}

.mt30 {
  margin-top: 30px;
}

.paNone {
  padding: 0 !important;
}

.review-content {
  display: inline-block;
  width: 225px;
  overflow: hidden;
  min-height: 3em;
}

.review-name {
  display: inline-block;
  height: 14px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.review-author {
  display: inline-block;
  height: 14px;
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

.custom-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  width: auto;
  z-index: 1;
  margin-right: 5px;
  display: inline-block;
}

.custom-select:hover {
  border-color: #999;
}

.custom-select:before {
  color: #3bb1cc;
  display: block;
  font-family: 'FontAwesome';
  font-size: 1.3em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}

.custom-select select {
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
  color: #3bb1cc;
  display: block;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 15px;
}

.custom-select select::-ms-expand {
  display: none;
  /* to ie 10 */
}

.custom-select select:focus {
  outline: none;
}

/*:-moz-any(.custom-select):before {
  background-color: #fff;
  pointer-events: none;
  z-index: 1;
}*/

/*mobile*/
.mb-select.fa-caret-down:before {
  content: ">";
  background-repeat: no-repeat;
  background-position: center center;
}

.ani-hide {
  width: 0px;
  overflow: hidden;
  -moz-transform: 0.5s;
  -ms-transform: 0.5s;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}

.ani-show {
  width: 98%;
  overflow: hidden;
  -moz-transform: 0.5s;
  -ms-transform: 0.5s;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}

[class*="-default"], [class*="-like"], [class*="-cencle"], [class*="-del"], [class*="-draft"] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 5px;
}

[class*="btn-"] {
  display: inline-block;
  padding: 2px 5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

[class*="btn-s"] {
  width: 50px;
  line-height: 0.9;
}

[class*="btn-f"] {
  width: auto;
}

[class*="btn-m"] {
  width: 75px;
}

[class*="btn-o"] {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  box-shadow: none !important;
  position: relative;
}
[class*="btn-o"] i {
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 2px;
  left: 4.5px;
}

[class*="btn-xl"] {
  width: 100%;
}

[class*="-default"] {
  background: #09b2ba;
  border: none;
  -moz-box-shadow: #056c71 0px 2px 0px;
  -webkit-box-shadow: #056c71 0px 2px 0px;
  box-shadow: #056c71 0px 2px 0px;
}

[class*="-like"] {
  background: #f97d9d;
  border: none;
  -moz-box-shadow: #f63466 0px 2px 0px;
  -webkit-box-shadow: #f63466 0px 2px 0px;
  box-shadow: #f63466 0px 2px 0px;
}

[class*="-cencle"] {
  background: #999;
  border: none;
  -moz-box-shadow: #737373 0px 2px 0px;
  -webkit-box-shadow: #737373 0px 2px 0px;
  box-shadow: #737373 0px 2px 0px;
}

[class*="-del"] {
  background: #f71c60;
  border: none;
  -moz-box-shadow: #c00740 0px 2px 0px;
  -webkit-box-shadow: #c00740 0px 2px 0px;
  box-shadow: #c00740 0px 2px 0px;
}

[class*="-draft"] {
  background: #f15a24;
  border: none;
  -moz-box-shadow: #bc3b0c 0px 2px 0px;
  -webkit-box-shadow: #bc3b0c 0px 2px 0px;
  box-shadow: #bc3b0c 0px 2px 0px;
}

[class*="btn-group"] {
  width: 50px;
}
[class*="btn-group"]:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
[class*="btn-group"]:nth-child(n+2) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-left: -5px !important;
}
[class*="btn-group"].active {
  background: #056c71;
  border: none;
  -moz-box-shadow: #022628 0px 2px 0px;
  -webkit-box-shadow: #022628 0px 2px 0px;
  box-shadow: #022628 0px 2px 0px;
}

.edit {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
}

.edit-header {
  clear: both;
  overflow: hidden;
  padding: 10px;
}
.edit-header .edit-title {
  float: left;
  color: #3bb1cc;
  font-size: 14px;
  line-height: 21px;
}
.edit-header .edit-btn {
  float: right;
}
.edit-header .edit-btn button {
  margin-left: 10px;
  line-height: 0.9;
}

.field-group {
  clear: both;
  overflow: hidden;
  margin: 5px 0;
  padding: 10px;
}
.field-group .otherSet p {
  margin-bottom: 10px;
}
.field-group label {
  display: block;
  float: left;
  text-align: right;
  width: 22%;
  font-size: 12px;
}
.field-group .input {
  float: right;
  width: 75%;
}
.field-group .input input[type="text"] {
  background-color: #161616;
  width: 100%;
  border: none;
  margin-bottom: 5px;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.field-group .input input[type="text"]:focus {
  outline: none;
  border: 1px solid #3bb1cc;
}
.field-group .input textarea {
  background-color: #161616;
  width: 100%;
  border: none;
  margin-bottom: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
}
.field-group .input .small {
  width: 40% !important;
  height: 20px;
}

.edit-movie-select {
  margin-top: 10px;
}
.edit-movie-select .movieW {
  padding: 10px 5px;
  width: 140px;
  height: 215px;
  float: left;
  position: relative;
}
.edit-movie-select img {
  width: 100%;
  height: 100%;
}
.edit-movie-select .eMS-Info {
  width: 130px;
  color: #fff;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
.edit-movie-select .eMS-Info h2 {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
}
.edit-movie-select .eMS-Info p {
  width: 100%;
  overflow: hidden;
  font-size: 10px;
}
.edit-movie-select .eMS-btn {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 15px;
}
.edit-movie-select .orders {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
}

.ckeck-list {
  margin-top: 10px;
  font-size: 14px;
}
.ckeck-list li {
  margin: 5px 0;
}

.groupInfo {
  overflow: hidden;
  *zoom: 1;
}
.groupInfo .commentPeople {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
.groupInfo img {
  width: 75px;
  height: auto;
  float: left;
  margin-right: 10px;
}
.groupInfo a {
  color: #3bb1cc;
  font-size: 110%;
  display: block;
  margin-bottom: 10px;
}
.groupInfo small {
  font-size: 80%;
  color: #999999;
  line-height: 1.5em;
}

#arrange {
  float: right;
}

.group-member .select-list li {
  width: 33.3%;
}
.group-member .select-list li.activ {
  background-color: #161616;
  color: #3bb1cc;
}
.group-member .member-list {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
  padding: 10px;
  text-align: center;
}
.group-member .member-list img {
  width: 15%;
  height: auto;
}

/*#mainInfo .movieInfo {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 10px;
}
#mainInfo .movieInfo > img {
  width: 27.2%;
  float: left;
  margin-right: 10px;
  height: auto;
  display: block;
}
#mainInfo .movieInfo > .movie-btns {
  width: 69%;
  float: right;
}
#mainInfo .movieInfo > .movie-default small {
  font-size: 0.8em;
  color: #3bb1cc;
}
#mainInfo .movieInfo h2 {
  padding-bottom: 3.33333px;
  margin-bottom: 3.33333px;
  font-size: 13px;
  line-height: 1.1em;
  font-weight: 900;
}*/

#mainInfo .movieInfo h3 {
  font-weight: 900;
}
#mainInfo .addF, #mainInfo .isF {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-image: url("/Areas/Mobile/Images/addF.png");
  background-size: 100% 100%;
}
#mainInfo .isF {
  background-image: url("/Areas/Mobile/Images/isF.png");
}
/*
.movieInfo-Like {
  font-size: 12px;
}
.movieInfo-Like [class*="-star"] {
  color: #fcee21;
}
.movieInfo-Like [class*="-heart"] {
  color: #ff3e75;
}
.movieInfo-Like [class*="-fire"] {
  color: #f15a24;
}
.movieInfo-Like [class*="-eye"] {
  color: #09b2ba;
}
.movieInfo-Like[class*="-star"] {
  color: #fcee21;
}
.movieInfo-Like[class*="-heart"] {
  color: #ff3e75;
}
.movieInfo-Like[class*="-fire"] {
  color: #f15a24;
}
.movieInfo-Like[class*="-eye"] {
  color: #09b2ba;
}
.movieInfo-Like p {
  padding: 5px 0;
  margin-bottom: 5px;
  line-height: 1.5em;
}
.movieInfo-Like li {
  margin-bottom: 5px;
  font-size: 10px;
}
.movieInfo-Like li:first-child {
  font-size: 12px;
}
.movieInfo-Like i {
  margin-right: 2px;
}
.movieInfo-Like .orange {
  color: #f15a24;
  font-size: 1em;
}

.movieInfo-btn {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
.movieInfo-btn li {
  float: left;
  width: 20%;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  font-size: 10px;
}
.movieInfo-btn li i {
  font-size: 18px;
  line-height: 1.4em;
}
.movieInfo-btn li:nth-child(2n):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  width: 1px;
  height: 100%;
}
.movieInfo-btn li:nth-child(2n):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #111;
  width: 1px;
  height: 100%;
}
.movieInfo-btn li.active [class*="-star"] {
  color: #fcee21;
}
.movieInfo-btn li.active [class*="-heart"] {
  color: #ff3e75;
}
.movieInfo-btn li.active [class*="-fire"] {
  color: #f15a24;
}
.movieInfo-btn li.active [class*="-eye"] {
  color: #09b2ba;
}
.movieInfo-btn li.active[class*="-star"] {
  color: #fcee21;
}
.movieInfo-btn li.active[class*="-heart"] {
  color: #ff3e75;
}
.movieInfo-btn li.active[class*="-fire"] {
  color: #f15a24;
}
.movieInfo-btn li.active[class*="-eye"] {
  color: #09b2ba;
}*/

/*.infoText .infoContent {
  text-align: justify;
  line-height: 1.2em;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 40px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.infoText .infoContent.active {
  height: auto;
}
.infoText .seeMore {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #3bb1cc;
  text-align: right;
  cursor: pointer;
}*/
.infoText .commentPeople {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
.infoText .commentPeople img {
  float: left;
  margin-right: 10px;
  display: block;
  width: 50px;
  height: auto;
}
.infoText .commentPeople .commentPeople-info {
  line-height: 1.5;
  float: left;
  height: 33px;
  margin-top: 16px;
}
.infoText .commentPeople a {
  color: #3bb1cc;
}

.movieInfo-list-row {
  margin-bottom: 10px;
  clear: both;
  display: table;
  width: 100%;
}
.movieInfo-list-row li {
  padding: 7px 2.2%;
  position: relative;
  float: left;
  height: 26px;
  width: 20%;
  background: #333;
  -moz-box-shadow: 0px 1px 0px #000;
  -webkit-box-shadow: 0px 1px 0px #000;
  box-shadow: 0px 1px 0px #000;
}
.movieInfo-list-row li:last-child {
  width: auto;
}
.movieInfo-list-row li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
  background-color: #161616;
  width: 1px;
  height: 100%;
}
.movieInfo-list-row li i {
  padding-bottom: 20px;
}
.movieInfo-list-row li small {
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #216e80;
  padding-top: 5px;
}

.movieInfo-list {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
}
.movieInfo-list li {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  position: relative;
}
.movieInfo-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
  background-color: #161616;
  width: 100%;
  height: 1px;
}
.movieInfo-list li small {
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #216e80;
}

.movie-list {
  float: left;
  width: 69%;
}
.movie-list p {
  line-height: 2em;
}

.mainPeople, .mainPeople-half {
  float: left;
  width: 100%;
  font-size: 10px;
}
.mainPeople .peopleInfo, .mainPeople-half .peopleInfo {
  clear: both;
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.mainPeople .peopleInfo img, .mainPeople-half .peopleInfo img {
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  float: left;
}
.mainPeople .peopleInfo a, .mainPeople-half .peopleInfo a {
  color: #3bb1cc;
  font-size: 14px;
  line-height: 1.5em;
}
.mainPeople .peopleInfo .title, .mainPeople-half .peopleInfo .title {
  font-size: 15px;
  font-weight: 900;
}
.mainPeople h3, .mainPeople-half h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.mainPeople-half {
  width: 43.33333%;
  float: left;
}

.creatDate {
  color: #555;
  font-size: 7px;
  letter-spacing: -1px;
  position: relative;
  top: 5px;
}

.btns {
  float: right;
  font-size: 10px;
  width: 50.33333%;
}

.complete {
  width: 100%;
  clear: both;
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
  padding: 10px 0;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
.complete:before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.complete .complete-Info {
  width: 75%;
  float: left;
  margin-left: 3%;
  font-size: 10px;
  color: #3bb1cc;
}
.complete .complete-number {
  float: right;
  width: 15%;
  margin-right: 3%;
  color: #3bb1cc;
  text-align: right;
  font-size: 20px;
  height: 20px;
  line-height: 1.5em;
}
.complete .completeness {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin-top: 5px;
}
.complete .completeness .completed {
  width: 56%;
  height: 3px;
  background-color: #3bb1cc;
}
.complete.noBackground {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 5px 0;
}

.hr {
  width: 100%;
  clear: both;
  overflow: hidden;
}

.panel {
  padding-bottom: 10px;
}
.panel h3 {
  color: #3bb1cc;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
}
.panel p {
  line-height: 1.2em;
  font-size: 12px;
}

.panel-movie {
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel-movie > p {
  color: #3bb1cc;
  margin-bottom: 10px;
}
.panel-movie .panel-movie-Wrap {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
  clear: both;
  overflow: hidden;
  padding: 5px 10px;
}
.panel-movie .panel-movie-Wrap .panel-movie-select {
  float: left;
}
.panel-movie .panel-movie-Wrap .panel-icon {
  float: right;
  font-size: 16px;
}
.panel-movie .panel-movie-Wrap .panel-icon li {
  margin: 0px 5px;
}
.panel-movie .panel-movie-Wrap .panel-icon li.active {
  color: #3bb1cc;
}
.panel-movie .panel-movie-Wrap li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.panel-movie .panel-movie-list {
  margin-top: 10px;
}
.panel-movie .panel-movie-list > li {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 30%;
  margin-bottom: 10px;
  margin: 5px 0.8%;
}
.panel-movie .panel-movie-list > li img {
  width: 100%;
  height: auto;
}
.panel-movie .panel-movie-list > li.active {
  opacity: 0.3;
}
.panel-movie .panel-movie-row {
  display: none;
}
.panel-movie .panel-movie-row li {
  clear: both;
  overflow: hidden;
  padding: 10px 0;
}
.panel-movie .panel-movie-row li img {
  width: 32.66667%;
  height: auto;
  display: block;
  float: left;
  margin-right: 10px;
}
.panel-movie .panel-movie-row li .movie-info {
  float: right;
  width: 63.33333%;
  color: #fff;
  line-height: 1.5em;
}
.panel-movie .panel-movie-row li .movie-info h2 {
  font-size: 16px;
}
.panel-movie .panel-movie-row li .movie-info p {
  color: #99AABB;
}
.panel-movie .panel-movie-row li .movie-info i {
  padding-right: 10px;
  letter-spacing: 2px;
  color: #aaa;
}
.panel-movie .panel-movie-row li.active {
  opacity: 0.5;
}

.hasTitle .panel-movie-list {
  margin-top: 0;
}
.hasTitle .panel-movie-list li {
  position: relative;
}

.panel-movie-list li p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hasTitle .movie-title {
  background-color: #333;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  margin-bottom: 5px;
}

.panel-info-list li {
  background-color: #333;
  padding: 0.8%;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.panel-info-list .people {
  width: 30px;
  height: 30px;
  float: left;
  padding-right: 5px;
}
.panel-info-list .movie-pic {
  width: 60px;
  height: 90px;
  float: left;
  padding-right: 5px;
}

.panel-visit {
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
}
.panel-visit .visit-people {
  float: left;
  color: #216e80;
  line-height: 20px;
}
.panel-visit .visit-go {
  float: right;
}

.panel-pro {
  padding-bottom: 10px;
}
.panel-pro .pro-list-item {
  height: 30px;
  padding-left: 40px;
  position: relative;
}
.panel-pro .pro-list-item .rank {
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 8px;
}

.sort .custom-select, .sort .custom-select:active {
  border: 1px solid #3bb1cc;
  width: 100px !important;
  position: relative;
  padding: 2px 5px;
}
.sort .custom-select select, .sort .custom-select:active select {
  width: 100%;
}
.sort .custom-select .fa, .sort .custom-select:active .fa {
  position: absolute;
  line-height: 1.5em;
  top: 0;
  right: 5px;
  z-index: 3;
}

.movie-tag {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-image: url("/Areas/Mobile/Images/svg/movie-award-01.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  line-height: 26px;
  text-align: center;
}

.movie-pro {
  padding: 5px !important;
}
.movie-pro .pro-info {
  width: 50%;
  line-height: 1.5em;
}
.movie-pro .fz-xs {
  font-size: 0.75em;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  white-space: nowrap;
  position: relative;
  left: -15px;
  line-height: 1.5em;
}
.movie-pro .pro-movie {
  width: 48%;
}

/*.popTo {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
}
.popTo .popwrap {
  width: 90%;
  margin-top: 20px;
  margin: 30px auto 0 auto;
  position: relative;
  background: #07171b;
  border: 1px solid #3bb1cc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.popTo .popclose {
  background: #3bb1cc;
  padding: 5px;
  position: absolute;
  right: -10px;
  top: -10px;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.popTo .fieldset, .popTo .popMenu, .popTo .shareTo, .popTo fieldset {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.popTo .formInput {
  font-size: 15px;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
.popTo .formInput label {
  text-align: right;
  float: left;
  width: 29%;
}
.popTo .formInput p {
  width: 70%;
  float: right;
}
.popTo .formInput p [class*="-star"] {
  color: #fcee21;
}
.popTo .formInput p [class*="-heart"] {
  color: #ff3e75;
}
.popTo .formInput p [class*="-fire"] {
  color: #f15a24;
}
.popTo .formInput p [class*="-eye"] {
  color: #09b2ba;
}
.popTo .formInput p[class*="-star"] {
  color: #fcee21;
}
.popTo .formInput p[class*="-heart"] {
  color: #ff3e75;
}
.popTo .formInput p[class*="-fire"] {
  color: #f15a24;
}
.popTo .formInput p[class*="-eye"] {
  color: #09b2ba;
}
.popTo .formInput p img {
  top: 3px;
  margin-right: 5px;
  position: relative;
}
.popTo .formInput > input, .popTo .formInput > textarea {
  background: #1a1a1a;
  color: #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.popTo .formInput > button {
  margin-top: 10px;
  float: left;
}
.popTo .popMenu {
  width: 90%;
}
.popTo .popMenu li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #333 1px solid;
}
.popTo .popMenu li i {
  padding-right: 20px;
}
.popTo .popMenu li:last-child {
  padding-bottom: 0;
  border-bottom: none;
  border: none;
}
.popTo .shareTo {
  text-align: center;
}
.popTo .shareTo li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0px 5px;
}
.popTo fieldset textarea {
  width: 70%;
}
.popTo fieldset button {
  float: right;
}
.popTo .edit-title {
  color: #fff !important;
}
.popTo .starW {
  clear: both;
  overflow: hidden;
  width: 96%;
  margin: 20px 2%;
}
.popTo .starAll {
  color: #fcee21;
  font-size: 2.5em;
  letter-spacing: -3px;
  text-align: center;
  float: left;
  width: 69%;
  margin-right: 1%;
}
.popTo .starNum {
  font-size: 3em;
  width: 30%;
  float: right;
  text-align: center;
}
.popTo .starNum span {
  font-size: 16px;
}*/

.addTag {
  position: relative;
  background-color: #000;
  border: 1px solid #3bb1cc;
  width: 99%;
  clear: both;
  overflow: hidden;
  height: 20px;
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.addTag > input {
  border: none;
  background-color: inherit;
  color: #fff;
  width: 80%;
  padding-left: 10px;
  height: 100%;
}
.addTag > button {
  height: 100%;
  position: absolute;
  right: -2px;
  top: 0;
  z-index: 1;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.club-select {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
}
.club-select > li {
  padding-left: 20px;
}
.club-select > .active {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
.club-select > .active:after {
  content: "";
  font-family: "icomoon";
  z-index: 1;
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  color: #3bb1cc;
}

.reply {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
  padding: 10px;
}
.reply a {
  color: #3bb1cc;
  font-size: 95%;
}
.reply li {
  margin-bottom: 10px;
}
.reply fieldset h3 {
  margin-bottom: 10px;
}
.reply fieldset .btn-default {
  float: right;
  margin-bottom: 10px;
}
.reply.panelReset li:last-child {
  border: none;
}

.replyTo {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
.replyTo label {
  display: block;
  float: left;
  margin-right: 10px;
  width: 50px;
}
.replyTo label img {
  width: 100%;
  height: auto;
}
.replyTo p {
  width: 100%;
  clear: both;
}
.replyTo textarea {
  width: 77%;
  height: 48px;
  display: block;
  float: right;
  background-color: #161616;
  border: none;
  color: #FFF;
  margin-bottom: 10px;
}

.reply-list {
  padding-top: 10px;
  font-size: 95%;
}
.reply-list .replyitem, .reply-list .re-replyCon {
  padding-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
.reply-list .replyitem .replyitemImg, .reply-list .re-replyCon .replyitemImg {
  width: 50px;
  margin-right: 10px;
  float: left;
}
.reply-list .replyitem .replyitemImg img, .reply-list .re-replyCon .replyitemImg img {
  width: 100%;
  height: auto;
}
.reply-list .replyitem .replyitemCon, .reply-list .re-replyCon .replyitemCon {
  float: right;
  width: 78%;
}
.reply-list .replyitem .replyitemCon h4, .reply-list .re-replyCon .replyitemCon h4 {
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
.reply-list .replyitem .replyitemCon h4 a, .reply-list .re-replyCon .replyitemCon h4 a {
  float: right;
}
.reply-list .replyitem .replyitemCon p, .reply-list .re-replyCon .replyitemCon p {
  line-height: 1.2em;
  font-size: 95%;
}
.reply-list .re-replyCon {
  margin-left: 15%;
}
.reply-list .re-replyCon .replyitemCon {
  width: 74%;
}
.reply-list .re-replyCon .replyitemImg {
  width: 30px;
}
.reply-list .re-replyCon .replyitemImg > img {
  padding-left: 20px;
}

.replymore {
  color: #3bb1cc;
  font-size: 95%;
  padding-top: 10px;
}

.panel-reply h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3bb1cc;
  font-size: 14px;
}

/*.comment-list {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
  padding-top: 10px;
}
.comment-list > .comment-item {
  margin: 0px 10px;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: #111 1px solid;
}
.comment-list > .comment-item:first-child {
  padding-top: 0;
  border: none;
}
.comment-list > .comment-item h3 {
  margin-bottom: 5px;
}
.comment-list > .comment-item h3 a {
  color: #3bb1cc;
  font-size: 1.2em;
}
.comment-list > .comment-item .stars {
  margin-bottom: 5px;
  clear: both;
}
.comment-list > .comment-item .stars [class*="-star"] {
  color: #fcee21;
}
.comment-list > .comment-item .stars [class*="-heart"] {
  color: #ff3e75;
}
.comment-list > .comment-item .stars [class*="-fire"] {
  color: #f15a24;
}
.comment-list > .comment-item .stars [class*="-eye"] {
  color: #09b2ba;
}
.comment-list > .comment-item .stars[class*="-star"] {
  color: #fcee21;
}
.comment-list > .comment-item .stars[class*="-heart"] {
  color: #ff3e75;
}
.comment-list > .comment-item .stars[class*="-fire"] {
  color: #f15a24;
}
.comment-list > .comment-item .stars[class*="-eye"] {
  color: #09b2ba;
}
.comment-list > .comment-item img {
  display: block;
  width: 15%;
  height: auto;
  float: left;
}
.comment-list > .comment-item .comment-content {
  text-align: justify;
  font-size: 12px;
  float: right;
  width: 83%;
  line-height: 1.5em;
}
.comment-list > .comment-item .comment-shar {
  margin-top: 10px;
}
.comment-list > .comment-item .comment-shar > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
}*/

/*.select-list {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
}
.select-list > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 1em;
  line-height: 2em;
  width: 25%;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.select-list > li:nth-child(n-3):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  width: 1px;
  height: 100%;
}
.select-list .active {
  background: #1f1f1f;
  color: #3bb1cc;
}*/

.w30 {
  width: 32% !important;
}

/*.tab-Content a, .tag {
  padding-right: 5px;
  padding-left: 5px;
  background: #0e2f37;
  border: #216e80 1px solid;
  display: inline-block;
  margin: 2.5px;
  border-radius: 3px;
  line-height: 1.3em;
}

.tab {
  border-bottom: #09b2ba 1px solid;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: #3bb1cc 1px solid;
  font-size: 14px;
}

.tab-Select {
  margin-bottom: 5px;
}
.tab-Select > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #ccc;
}
.tab-Select > li:nth-child(2n) {
  border-left: 1px #333 solid;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.tab-Select .active {
  color: #3bb1cc;
}

.tab-Content {
  display: none;
}
.tab-Content.active {
  display: block;
}*/

.tab-list li {
  overflow: hidden;
  *zoom: 1;
}
.tab-list li:nth-child(2n) {
  padding: 10px 0;
  margin: 10px 0;
  border-top: #363636 1px solid;
  border-bottom: #363636 1px solid;
}
.tab-list li img {
  width: 16.66667%;
  height: auto;
  margin-right: 3%;
  float: left;
}
.tab-list li > p {
  float: left;
  width: 75%;
  line-height: 1.5em;
}
.tab-list li > p > .icon-arrow-up {
  color: #f15a24;
}
.tab-list li > p a {
  color: #3bb1cc;
}

/*.underline-tab {
  box-sizing: border-box;
}
.underline-tab .tab-item {
  box-sizing: border-box;
  padding: 20px 0;
  color: #9B9B9B;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -4px;
}
.underline-tab .tab-item.active {
  color: #71cfee;
}
.underline-tab.five-tab > .tab-item {
  width: 20%;
}*/

.topicsMovie {
  padding-top: 10px;
  clear: both;
  overflow: hidden;
}
.topicsMovie li {
  width: 144px;
  margin: 0 1% 10px 1%;
  float: left;
  background-color: #333;
}
.topicsMovie li img {
  width: 144px;
  height: 120px;
  border-bottom: 1px solid #3bb1cc;
}
.topicsMovie li .topicCon {
  padding: 5px;
  line-height: 1.2em;
  height: 28px;
  overflow: hidden;
}

.topics-Edit li {
  width: auto;
  padding: 0 12px;
}

.loading-video-searching {
  position: relative;
  left: -50px;
  display: none;
  border-radius: 4px;
  height: 35px;
  top: -20px;
}

ul.ui-autocomplete {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw !important;
  left: 0px !important;
  max-height: 38vh !important;
  background: rgba(0, 0, 0, 0.8) !important;
  border: none !important;
}

.ui-menu .ui-menu-item {
  border-bottom: 1px solid #333;
  padding: 10px 1.5em 10px 1.5em;
}
.ui-menu .ui-menu-item a {
  color: #fff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: inherit;
  border: none;
  font-weight: normal;
  color: #fff;
}

.searchBar {
  background-color: black;
  border-bottom: 1px solid #2e839e;
  height: 29px;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  display: none;
  margin: 0;
}
.searchBar label {
  text-align: right;
  line-height: 26px;
}
.searchBar .input {
  float: left;
  text-align: left;
  margin-left: 15px;
  width: 70%;
}
.searchBar .input input {
  height: 25px;
  width: 200px;
  background-color: #20292b;
  border: 1px solid #0d4e59;
  border-radius: 3px;
}

.goTop {
  top: 40px !important;
}

.topicPop {
  position: fixed;
  top: 24px;
  left: 0;
  width: 94%;
  padding: 3%;
  z-index: 8;
  background-color: #272727;
  height: 100vh;
  font-size: 16px;
  vertical-align: center;
  overflow: hidden;
  display: none;
}
.topicPop .topicW {
  height: 100%;
  overflow-y: auto;
}
.topicPop .topicBack {
  color: #3bb1cc;
  margin-bottom: 10px;
}
.topicPop .nextPrev {
  margin-top: 10px;
  color: #3bb1cc;
  padding-bottom: 100px;
}
.topicPop .topicContent {
  margin-top: 10px;
  padding-bottom: 10px;
  word-break: break-all;
}
.topicPop .fa {
  font-size: 1.5em;
  position: relative;
  top: 4px;
}

.topic {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  line-height: 1.25em;
  position: relative;
}
.topic .topic-header {
  zoom: 1;
  padding-bottom: 5px;
}
.topic .topic-header:before, .topic .topic-header:after {
  content: "";
  display: table;
}
.topic .topic-header:after {
  clear: both;
  overflow: hidden;
}
.topic .topic-create-time {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 5px;
  font-size: 10px;
  text-align: right;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  color: #999;
}
.topic .topic-img {
  float: left;
  width: 30px;
  width: 30px;
  margin-right: 10px;
}
.topic .topic-movie {
  margin: 0 -15px;
  text-align: center;
}
.topic .topic-movie a {
  display: block;
}
.topic .topic-movie .topic-movie-img {
  margin-left: 0;
  width: 25%;
}
.topic .topic-movie .topic-movie-img:nth-child(n+2) {
  margin-left: -8%;
}
.topic .topic-content {
  margin-top: 5px;
}

.gene-search {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 30px 5px 5px;
  background-color: #161616;
  position: relative;
  color: #999;
  min-height: 32px;
  line-height: 24px;
}
.gene-search .gene-search-btn {
  color: #999;
  position: absolute;
  right: 15px;
  top: 30%;
  font-size: 120%;
}

.gene-select .gene-type {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 2% 10px -3px;
  padding: 5px 0;
  width: 23.5%;
  font-size: 120%;
  text-align: center;
  box-sizing: border-box;
}
.gene-select .gene-type.active {
  background-color: #161616;
  border-bottom: #3bb1cc 1px solid;
}
.gene-select .gene-type:nth-child(4n) {
  margin-right: 0;
}

.gene-list .gene-item {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 2vw 10px -3px;
  width: 22vw;
  box-sizing: border-box;
}
.gene-list .gene-item.active .gene-item-img {
  border: #3bb1cc 2px solid;
}
.gene-list .gene-item:nth-child(4n) {
  margin-right: 0;
}
.gene-list .gene-item-img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 22vw;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.gene-order .topic-header {
  min-height: 20px;
}

.gene-order-cancel {
  width: 30px;
  height: 30px;
  background-color: #161616;
  line-height: 30px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

.topic, .gene-select .gene-type, .gray-block-shadow {
  background: #333;
  -moz-box-shadow: 0px 2px 3px #000;
  -webkit-box-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
}

.login input[type="text"], .login input[type="password"], .login input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.login.popMenu {
    text-align: center;
    padding: 1em;
}

.login.popMenu > img {
    padding-bottom: 1.5em;
}

.login.popMenu > h2 {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1em;
}

.login.popMenu > p {
    line-height: 1.8;
    text-align: left;
    margin-bottom: 1em;
}

.login.popMenu > .btn-f-default {
    padding: 5px;
}

.panelReset {
  background: inherit;
  -moz-box-shadow: 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
}

.gray-block {
  background: #333;
}

.green {
  color: #3bb1cc;
}

.green-2 {
  color: #216e80 !important;
}

.gray-9 {
  color: #999;
}

.gray-c {
  color: #ccc;
}

.gray-w {
  color: #fff;
}

.gray-bk {
  color: #000;
}

.gray-3 {
  color: #333;
}

.gray-5 {
  color: #555;
}

.gray-a {
  color: #aaa;
}

.gray-e {
  color: #eee;
}

.black {
  background-color: #000 !important;
}

.orange {
  color: #fbb03b;
}

.fire {
  color: #f15a24;
}

.yellow {
  color: #fcee21;
}

.heart {
  color: #ff3e75;
}

.MCuser {
  color: #6A9099;
}

.blue {
  color: #72caf7;
}

.clearFix, .panel-pro .salf-panel, .panel-pro .pro-list-item {
  zoom: 1;
}
.clearFix:before, .panel-pro .salf-panel:before, .panel-pro .pro-list-item:before, .clearFix:after, .panel-pro .salf-panel:after, .panel-pro .pro-list-item:after {
  content: "";
  display: table;
}
.clearFix:after, .panel-pro .salf-panel:after, .panel-pro .pro-list-item:after {
  clear: both;
  overflow: hidden;
}

.vaT {
  vertical-align: top !important;
}

.vaM {
  vertical-align: middle !important;
}

.vaB {
  vertical-align: bottom !important;
}

.taLeft {
  text-align: left;
}

.taRight {
  text-align: right;
}

.taCenter {
  text-align: center;
}

.autoWidth {
  width: auto !important;
}

.maClean {
  margin: 0 !important;
}

.fRight {
  float: right;
}

.fLeft {
  float: left;
}

.w80 {
  width: 86% !important;
}

.w100 {
  width: 100% !important;
}

.lh15 {
  line-height: 1.5em !important;
}

.fz15 {
  font-size: 1.5em !important;
}

.fz-xs {
  font-size: 0.85em !important;
}

.fz-s {
  font-size: 1em !important;
}

.fz-m {
  font-size: 1.25em !important;
}

.fz-l {
  font-size: 1.5em !important;
}

.fz-xl {
  font-size: 1.75em !important;
}

.fwBolder {
  font-weight: 900 !important;
}

.pos-pull-right {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
  display: block;
}

.hideThis {
  display: none;
}

/* ------------------------------------------------------------------------- */