
/* ------------- TITLE/POINTS CSS ------------- */
.title {
    text-align: center;
    color: #71cfee;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.current_points {
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
}
.current_points i {
    color: #579AAD;
}


/* -------------- TAB MENU CSS --------------- */
.baseBar {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #131313;
}

.tab_menu > ul {
    margin: 0;
}

.tab_menu li {
    float: left;
    width: 25%;
    height: 60px;
    line-height: 60px;
	box-sizing: border-box;
    text-align: center;
	font-size: 1em;
	transition: 0.5s;
}
.tab_menu li a {
    transition: 0.5s;
    color: rgba(238,238,238,.8);
    letter-spacing: 1px;
    display: block;
    width: 100%;
    height: 100%;
}

.tab_menu li:hover {
    cursor: pointer;
    background-color: #1F1F1F;
}
.tab_menu li:hover a {
    text-decoration: none;
    color: #71CFEE;
}

.tab_menu li.active {
	border-bottom: 3px solid #71CFEE;
    color: #71CFEE;
    background-color: #1F1F1F;
}
.tab_menu li.active a {
    color: #71CFEE;
}


/* -------------- COUPON CSS --------------- */
.coupon {
    position: relative;
    width: 30%;
}

.coupon.coupon-used .coupon-content {
    opacity: .5;
}
.coupon-content {
    position: relative;
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

.coupon-base {
    width: 100%;
}
.coupon-base img {
    width: 102%;
    margin-left: -3%;
}

.coupon-side {
    width: 25%;
    height: auto;
    position: relative;
    line-height: 200px;
    left: -3%;
}

.coupon-side img {
    width: 200%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.coupon-right-img {
    width: 24%;
    margin: 4% 10% 0 0;
    position: absolute;
    right: 0;
}
.coupon-right-img img {
    width: 100%;
}

.coupon-text-base {
    position: relative;
    top: 9%;
    left: -2%;
}

.coupon-title {
    color: #62766D;
    font-size: 1.6em;
    letter-spacing: 1.5px;
    margin-top: 32px;
}
.coupon-description {
    color: rgba(235,235,235,1);
    font-size: .95em;
    letter-spacing: 1px;
    margin: 15px 0 0 20px;
    width: 100%;
}
.coupon-description span {
    color: #87A095;
}

.exchange-date {
    color: rgba(235,235,235,.9);
    font-size: .8em;
    visibility: hidden;
}
.exchange-date.showDate {
    visibility: visible;
}

.exchange-amt.text-olive {
    color: #6B8076;
}

.exchangeRmb.text-pink {
    color: #C25F63;
}
.exchangeRmb.coupon-fz {
    font-size: 2.2em;
}

.used-label {
    position: absolute;
    top: 10%;
    right: 7%;
    padding: 1.5% 3%;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #E9A1A1;
    background-color: rgba(216,124,124,.9);
    z-index: 2;
    display: none;
}

.coupon.coupon-used .used-label{
    display: block;
}

.coupon-scale-lg {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    margin: 2% 5% 2.5% 15%;
}

.coupon:not(.coupon-scale-lg):nth-child(3n+2) {
    margin-left: 8%;
}
.coupon:not(.coupon-scale-lg) {
    margin: 10px 5px 0 0;
}


/* -------------- EXCHANGE-TEXT CSS --------------- */
.exchange-text {
    text-align: left; 
    width: 40%;
    letter-spacing: 1px;
}
.exchange-text > p {
    color: rgba(235,235,235,.8);
    letter-spacing: 1px;
}

.exchange-text p:nth-child(2) input {
    -webkit-appearance: none;
    width: 60%;
    font-size: 1.25em;
    box-sizing: border-box;
    padding: 20px 15px;
    margin: 10px 5px 0 0;
    letter-spacing: 1px;
    color: rgba(113,207,238,1);
    background-color: transparent;
    border-radius: 0;
    border: 1px solid rgba(113,207,238,1);
    transition: border-color .5s ease-in-out,
                background-color .5s ease-in-out,
                color .5s ease-in-out;
                
}

.exchange-text p:first-child input:focus {
    -webkit-appearance: none;
    outline: none;
    color: rgba(238,238,238,1);
    background-color: rgba(113,207,238,.3);
    border: 1px solid rgba(113,207,238,1);
    transition: border-color .5s ease-in-out,
                background-color .5s ease-in-out,
                color .5s ease-in-out;
}

/* -------------- EMPTY COUPON LIST CSS --------------- */
.empty {
    display: none;
}
.empty.isEmpty {
    display: block;
}
.empty .img-wrapper {
    width: 240px;
    margin: 4% auto 0% auto;
}


/* ---------------- MASK/MODAL CSS ------------------ */
.modal-mask {
    width: 100vw;
    height: 100vh;
    background: rgba(12,12,12,.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    margin: 0vh 0 0 -9.5vw;
    display: none;
}
.modal-mask.showReconfirm, .modal-mask.showError {
    display: block;
}
.modal-mask.showReconfirm .modal-reconfirm {
    display: block;
}
.modal-mask.showError .modal-error {
    display: block;
}

.point-modal {
    width: 320px;
    border-top: 2px solid #71cfee;
    background: rgba(53,53,53,.95);
    box-sizing: border-box;
    padding: 30px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0px 5px 5px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,.5);
    display: none;
}

/* ---------------- SIDE NAV CSS ------------------ */
.side-nav-wrap {
    position: relative;
}
.side-nav-wrap:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 1.5%;
    width: 1px;
    height: 250px;
    background: #71cfee;
}

.vertical-side-nav {
    width: 8%;
    position: absolute;
    left: -3%;
    top: 75px;
    margin: 0;
    z-index: 2;
    background: #0c0c0c;
    padding: 10px 0;
}
.vertical-side-nav li {
    margin: 25px 0;
    text-align: center;
    color: #9B9B9B;
    font-size: 1em;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.vertical-side-nav li:hover {
    color: #71cfee;
}
.vertical-side-nav li i, .vertical-side-nav li:hover i {
    color: #0c0c0c;
}

.vertical-side-nav li.active {
    color: #71cfee;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: .3s ease-in-out;
}
.vertical-side-nav li.active i {
    color: #71cfee;
}


/* ---------------- TAB-CONTENT-WRAP CSS ------------------ */
.tab-content-wrap {
    margin-bottom: 10%;
    display: none;
}
.tab-content-wrap.active {
    display: block;
}


/* ---------------- BTN CSS ------------------ */
.button {
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    text-shadow: none;
    font-size: 1em;
    letter-spacing: 1px;
    box-shadow: none;
    margin: 0 auto;
    cursor: pointer;
}
.btn-cancel {
    width: 48%;
    border: 2px solid #71cfee;
    background: transparent;
    color: #71cfee;
    transition: 0.3s;
}
.btn-cancel:hover {
    background-color: rgba(113,207,238,.3);
    text-shadow: none;
    transition: 0.3s;
}

.btn-confirm.short {
    display: block;
    width: 150px;
}
a.short:hover {
    text-decoration: none;
}

.btn-confirm, .btn-ok {
    width: 48%;
    background: #579AAD;
    border: 2px solid #579AAD;
    color: #ffffff;
    transition: 0.3s;
}
.btn-ok {
    width: 100% !important;
}
.btn-confirm:hover, .btn-ok:hover {
    background: rgba(87,154,173,.3);
    text-shadow: none;
    transition: 0.3s;
}


/* -------------- COMMON CSS ---------------- */

.marLRAuto {
    margin: 0 auto;
}
.maTHalfX {
    margin-top: 5px;
}
.maT1x {
    margin-top: 10px;
}
.maT2x {
    margin-top: 20px;
}
.maT3x {
    margin-top: 30px;
}
.maT4x {
    margin-top: 40px;
}
.maT5x {
    margin-top: 50px;
}

.maBHalfX {
    margin-bottom: 5px;
}
.maB1x {
    margin-bottom: 10px;
}
.maB2x {
    margin-bottom: 20px;
}
.maB3x {
    margin-bottom: 30px;
}
.maB4x {
    margin-bottom: 40px;
}
.maB5x {
    margin-bottom: 50px;
}

.maLHalfX {
    margin-left: 5px;
}
.maL1x {
    margin-left: 10px;
}
.maL2x {
    margin-left: 20px;
}
.maL3x {
    margin-left: 30px;
}
.maL4x {
    margin-left: 40px;
}
.maL5x {
    margin-left: 50px;
}
.maL4p {
    margin-left: 4%;
}
.maL8p {
    margin-left: 8%;
}

.maRHalfX {
    margin-right: 5px;
}
.maR1x {
    margin-right: 10px;
}
.maR2x {
    margin-right: 20px;
}
.maR3x {
    margin-right: 30px;
}
.maR4x {
    margin-right: 40px;
}
.maR5x {
    margin-right: 50px;
}

.padL2x {
    padding-left: 20px;
}


.text-main-blue {
    color: #71cfee;
}
.text-pink {
    color: #D87C7C;
}
.text-white {
    color: #ffffff;
}
.text-light-white {
    color: rgba(238,238,238,.8);
}


.fz-xs { 
	font-size: .75em !important; /*12px*/
}
.fz-13 {
	font-size: 0.85em !important; /*13px*/
}
.fz-s {
	font-size: .9em !important; /*14px*/
}
.fz-15 {
	font-size: .95em !important; /*15px*/
}
.fz-normal {
  	font-size: 1em !important; /*16px*/
}
.fz-subtitle {
	font-size: 1.125em !important; /*18px*/
}
.fz-m {
  	font-size: 1.25em !important; /*20px*/
}
.fz-25 {
	font-size: 1.5em !important; /*24px*/
}
.fz-lg {
	font-size: 1.875em !important; /*30px*/
}

.taC {
    text-align: center;
}
.taL {
    text-align: left;
}
.taR {
    text-align: right;
}

.width-30p {
    width: 30%;
}
.width-50p {
    width: 50%;
}
.width-80p {
    width: 80%;
}

.letter-spacing-1x {
    letter-spacing: 1px;
}

.lh-normal {
    line-height: 24px;
}

.pos-rel {
    position: relative;
}