/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration: none;
	color: #71cfee;
    font-weight: 400;
}
a img {
  border: none;
}
button {
	border: none;
	background-color: transparent;
}
body {
	line-height: 24px;
	color: #ffffff;
    font-family: Arial, "Heiti TC", "Microsoft JhengHei";
    background: #0c0c0c;
	width: 100vw;
	height: 100vh;
}
html { 
	font-size: 16px;
	line-height: 24px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.group-wrap:after {
    content: "";
	display: table;
	clear: both;
}

.search-wrap {
    padding: 30px;
    box-sizing: border-box;
    background-color: #0c0c0c;
}

.search-control {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    padding: 30px 30px 0 30px;
    background-color: rgba(12,12,12,.95);
    /*box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.5);*/
    z-index: 5;
}
.search-control.scroll {
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.5);
}


/* ---------- SEARCH section ---------- */
.search-area {
    position: relative;
}
.btn-close {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid rgba(238,238,238,.7);
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 0 0 12px;
    display: block;
    cursor: pointer;
}
.btn-close:focus {
    outline: none;
}

.btn-close i {
    font-size: 25px;
    color: #eeeeee;
    float: left;
}
.btn-close i.fa-angle-right {
    margin-right: -3px;
}

.search-keyword {
    position: relative;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    font-size: 1.2em;
}

#search-input::-webkit-search-cancel-button {
    position: relative;
    right: -500px;
}
.search-keyword input {
    width: 86%;
    background: transparent;
    border-bottom: 1px solid rgba(113,207,238,.4);
    padding: 10px 5px 10px 45px;
    font-size: 1em;
    color: #eeeeee;
    letter-spacing: 1px;
    border-radius: 0;
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    cursor: text;
    transition: border-color .5s;
}
.search-keyword input:focus {
    outline: none;
    border-bottom: 1px solid rgba(113,207,238,1);
}

.search-keyword i {
    position: absolute;
    top: 20%;
    left: 5%;
    color: #71cfee;
    font-size: 1.2em;
}

.underline-tab {
  box-sizing: border-box;
}

.underline-tab .tab-item {
  box-sizing: border-box;
  padding: 20px 0;
  color: #9B9B9B;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  /**vertical-align: auto;
  *zoom: 1;
  *display: inline;*/
  margin-left: -4px;
}

.underline-tab .tab-item.active a {
  color: #71cfee;
}

.underline-tab.five-tab > .tab-item {
  width: 20%;
}

.tab-item a {
    color: #9b9b9b;
}


/* ---------- SEARCH-RESULT section ---------- */

.search-result {
    margin-top: 12em;
}

.section-title {
	cursor: default;
    position: relative;
    left: -10px;
}
.section-title:before {
    content: '';
    position: absolute;
    top: 1px;
    left: -20px;
    width: 5px;
    height: 20px;
    background-color:#71cfee;
}

.result-list li {
    border-bottom: 1px solid rgba(238,238,238,.2);
    font-size: 1em;
}

/* -----------------------------common_css---------------------------------- */

.maT1x {
    margin-top: 10px;
}
.maT2x {
    margin-top: 20px;
}
.maT3x {
    margin-top: 30px;
}
.maB3x {
    margin-bottom: 30px;
}
.maT50 {
    margin-top: 50px;
}
.maL40 {
    margin-left: 40px;
}

.padTBHalfX {
    padding: 5px 0;
}

.padTB1x {
    padding: 10px 0;
}

.padTB15 {
    padding: 15px 0;
}
.padR1x {
    padding-right: 10px;
}
.padL1x {
    padding-left: 10px;
}
.padLR10 {
    padding: 0 10px;
}

.text-white {
    color: #ffffff;
}
.text-gray {
    color: #9b9b9b;
}
.text-blue {
    color: #71cfee;
}

.fz-s {
  font-size: 1em !important;
}
.fz-m {
  font-size: 1.25em !important;
}



