
.search-wrap {
    padding: 30px;
    box-sizing: border-box;
    background-color: #0c0c0c;
}

.search-control {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    padding: 30px 30px 0 30px;
    background-color: rgba(12,12,12,.95);
    z-index: 5;
}
.search-control.scroll {
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.5);
}


/* ---------- SEARCH section ---------- */
.search-area {
    position: relative;
}
.btn-close {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid rgba(238,238,238,.7);
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 0 0 12px;
    display: block;
    cursor: pointer;
}
.btn-close:focus {
    outline: none;
}

.btn-close i {
    font-size: 25px;
    color: #eeeeee;
    float: left;
}
.btn-close i.fa-angle-right {
    margin-right: -3px;
}

.search-keyword {
    position: relative;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    font-size: 1.2em;
}

#search-input::-webkit-search-cancel-button {
    position: relative;
    right: -500px;
}
.search-keyword input {
    width: 86%;
    background: transparent;
    border-bottom: 1px solid rgba(113,207,238,.4);
    padding: 10px 5px 10px 45px;
    font-size: 1em;
    color: #eeeeee;
    letter-spacing: 1px;
    border-radius: 0;
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    cursor: text;
    transition: border-color .5s;
}
.search-keyword input:focus {
    outline: none;
    border-bottom: 1px solid rgba(113,207,238,1);
}

.search-keyword i {
    position: absolute;
    top: 9px;
    left: 15px;
    color: #71cfee;
    font-size: 1.2em;
}

.underline-tab {
  box-sizing: border-box;
}

.underline-tab .tab-item {
  box-sizing: border-box;
  padding: 20px 0;
  color: #9B9B9B;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-left: -4px;
  letter-spacing: 1px;
}

.underline-tab .tab-item.active a {
  color: #71cfee;
}

.underline-tab.five-tab > .tab-item {
  width: 20%;
}

.tab-item a {
    color: #9b9b9b;
}


/* ---------- SEARCH-RESULT section ---------- */
.search-result {
    margin-top: 12em;
}

.section-title {
	cursor: default;
    position: relative;
    left: -10px;
}
.section-title:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -20px;
    width: 5px;
    height: 20px;
    background-color:#71cfee;
}

.result-list li {
    border-bottom: 1px solid rgba(238,238,238,.2);
    font-size: 1em;
}

.search-category {
    letter-spacing: 1px;
    display: none;
}
.search-result.showAllResult > section {
    display: block;
}
.category-movie.active, .category-project.active,
.category-cast.active, .category-user.active {
    display: block;
}





