
.bkgd-img:after { 
    background-color: rgba(238,238,238,.3);
    height: 100vh;
}
.poster-group {
    text-align: center;
}

.poster-group li {
    display: inline-block;
    margin-left: -137px;
    width: 160px;
    height: 225px;
    overflow: hidden; 
    font-size: 16px;
    box-shadow: -4px 0 5px 0px rgba(12, 12, 12, .5);
}
.poster-group li img {
    width: 100%;
}
.poster-group li:first-child {
    margin-left: 0;
}

/*.content-wrap {
    padding-top: 5vh;
    border-radius: 5px 5px 0 0;
    top: 22vh;
    height: auto;
    background-color: rgba(12,12,12,.5);
}*/

/*.content-wrap:before {
    content: none;
}
.content-wrap.scroll:before {
    content: none;
}*/


/* -------------- Review Content CSS--------------- */
/*.reviewContent {
    border-top: 1px solid rgba(216,216,216,.2);
}

.other-review-item {
    border-top: 1px solid rgba(238,238,238,.2);
    display: block;
}
.other-review-item:first-child {
    border-top: none;
    padding-top: 0;
}
.other-review-details {
    width: 82%;
}*/

/* used line-clamp to solve for now */
/*.other-review-details p {
    height: 45px;
    overflow: hidden;
    position: relative;
}*/
/*.other-review-details p:after {
    content: '...';
    position: absolute;
    right: -1px;
    bottom: -3px;;
} */
