
.content-wrap {
    padding: 20% 5% 70% 5%;
}

.poster-group {
    text-align: center;
}

.poster-group li {
    display: inline-block;
    margin-left: -43%;
    width: 53%;
    height: 37.5vh;
    vertical-align: top;
    overflow: hidden; 
    box-shadow: -4px 0 5px 0px rgba(12, 12, 12, .5);
}

.poster-group li img {
    width: 100%;
}

.poster-group li:first-child {
    margin-left: 0;
}


/* -------------- PROJECT CONTENT --------------- */
.pos-nextToTitle {
    position: absolute;
    right: 10px;
    top: -42px;
    text-align: right;
}


/* -------------- completeness bar -------------- */
.completeness {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: rgba(90,90,90,.65);
}
.completeness .completed {
    width: 22%;
    height: 3px;
    border-radius: 10px;
    background-color: #71cfee;
}

/* -------------- movie-comment-text -------------- */
.movie-comment-text {
    padding: 8px 10px;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid rgba(155,155,155,.2);
    border-bottom: 1px solid #71cfee;
    background-color: rgba(12,12,12,.8);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    color: #ffffff;
    font-size: .85em;
    text-align: justify;
    display: none;
}
.movie-comment-text.showMovieComment {
    display: block;
}

/* -------------- 編輯專題文字 editing project content CSS -------------- */
.projectTitle-edit {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
}

textarea.reviewContent {
    height: auto !important;
}